@include body-class(poll, all, false) {
	width: 100%;
	margin: $gutter 0;
	box-sizing: border-box;
	@extend %text-reset;

	.forminator-poll-header {

		+ .forminator-poll-body,
		+ .forminator-poll-footer {
			margin-top: $gutter-sm;
		}
	}

	.forminator-poll-body {

		.forminator-field {
			margin: 0;
			padding: 0;
			border: 0;

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		+ .forminator-poll-footer {
			margin-top: $gutter-sm;
		}
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@include body-class(poll, all, true) {

	.forminator-poll-header {

		+ .forminator-poll-body,
		+ .forminator-poll-footer {

			@include media(min-width, sm) {
				margin-top: $gutter;
			}
		}
	}

	.forminator-poll-body {

		+ .forminator-poll-footer {

			@include media(min-width, sm) {
				margin-top: $gutter;
			}
		}
	}

	&:first-child {

		@include media(min-width, sm) {
			margin-top: 0;
		}
	}

	&:last-child {

		@include media(min-width, sm) {
			margin-bottom: 0;
		}
	}

	@include media(min-width, sm) {
		margin: $gutter 0;
	}
}