@import '../helpers/wrappers';

@mixin input-suffix($divi) {

	@include form-class($divi, $material: true, $rtl: false) {

		.forminator-input-with-suffix {
			display: flex;
			align-items: center;

			.forminator-input {
				padding-right: 60px;
			}

			.forminator-suffix {
				padding-right: 0;
			}

			.forminator-input--wrap {
				display: block;
				flex: 1;
			}
		}
	}
}