%screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

html {

	* {
		margin: 0;
		padding: 0;
		border: 0;
	}
}

body {
	background-color: white;
}

.page-wrap {

	nav {
		display: flex;
		align-items: center;
		padding: 15px;
		background-color: #282c34;
		color: white;

		.navigation-title {
			font-size: 18px;
			line-height: 22px;
			margin: 0 0 0 15px;
		}

		.navigation-button {
			cursor: pointer;
			display: block;
			margin: 0;
			padding: 8px;
			border: 0;
			background-color: transparent;

			i {
				width: 14px;
				height: 2px;
				display: block;
				margin: 2px 0 0;
				border-radius: 2px;
				background-color: white;

				&:first-child {
					margin-top: 0;
				}
			}

			span {
				@extend %screen-reader-text;
			}

			&,
			&:hover,
			&:active {
				outline: none;
				box-shadow: none;
			}
		}

		.navigation-menu {
			width: 220px;
			height: 100vh;
			position: fixed;
			top: 0;
			left: -220px;
			margin: 0;
			padding: 0;
			background-color: #282c34;

			&, li {
				display: block;
				border: 0;
				list-style: none;
			}

			li {
				margin: 0;
				padding: 0;

				a {
					padding: 15px;
					display: block;
					font-size: 14px;
					line-height: 22px;
					transition: 0.2s ease;

					&,
					&:hover,
					&:active,
					&:visited {
						color: white;
						text-decoration: none;
					}

					&:hover,
					&.current {
						background-color: rgba(255, 255, 255, 0.1);
					}
				}
			}
		}
	}

	section {
		padding: 30px;

		.sample-block {
			padding: 10px;
			background-color: #EEE;
			color: #333;
			font-size: 15px;
			line-height: 20px;
			text-align: center;
		}
	}

	&.menu-open {
		padding-left: 220px;

		nav {

			.navigation-menu {
				left: 0;
			}
		}
	}
}