@include body-class(custom-form) {

	.forminator-title {
		display: block;
		margin: 0;
		line-height: 1em;

		+ .forminator-subtitle {
			margin-top: 10px;
		}
	}

	.forminator-subtitle {
		display: block;
		margin: 0;
		line-height: 1.4em;
	}

	.forminator-border {
		width: 100%;
		height: 0;
		display: block;
		margin: 0;
		padding: 0;
		border: 0;
		background: transparent;

		@include media(max-width, md) {
			margin-top: $gutter-sm;
		}

		@include media(min-width, md) {
			margin-top: $gutter;
		}
	}
}