// =============================================
// VARIABLES MENU
//
// 1. BASIC VARIABLES
// 2. BREAKPOINTS
// 3. DESIGN: DEFAULT
// 4. DESIGN: FLAT
// 5. DESIGN: BOLD
// 6. DESIGN: MATERIAL
// =============================================

// =============================================
// 1. BASIC VARIABLES

$fui-version:    '1.7.0'                 !default;
$fui-font-path:  '../fonts/'             !default;

$fui-font--icon: "forminator-icons-font" !default;

$gutter:                30px         !default;
$gutter-sm:             20px         !default;
$gutter-enclosed:       14px         !default;
$gutter-enclosed-sm:    8px          !default;

$transition--ease:      0.2s ease    !default;
$transition--linear:    0.2s linear  !default;

$input--height:         40px         !default;
$input--padding:        10px         !default;
$input--line-height:    20px         !default;

$textarea--height:      140px        !default;
$textarea--padding:     10px         !default;
$textarea--line-height: 20px         !default;

$select--height:        40px         !default;
$select--padding:       10px         !default;
$select--line-height:   20px         !default;
$select--handle-size:   20px         !default;
$select--handle-icon:   12px         !default;

$dropdown--height:      210px        !default;
$dropdown--padding:     10px         !default;
$dropdown--line-height: 20px         !default;

$button--line-height:   20px         !default;
$button--icon-size:     14px         !default;

$calendar--padding:       10px       !default;
$calendar--icon-size:     14px       !default;
$calendar--select-height: 30px       !default;
$calendar--days-size:     30px       !default;

$icon-color: #888888 !default;
$icon-size:  16px !default;

$radio--size:           20px         !default;
$radio--icon-size:      12px         !default;

// =============================================
// 2. BREAKPOINTS

$fui-breakpoints: (
	sm: 783px,
	md: 961px,
	lg: 1201px
) !default;

// =============================================
// 3. ICONS LIST

$icons: (
	close:         "\e900",
	check:         "\e901",
	calendar:      "\e902",
	chevron-up:    "\e903",
	chevron-down:  "\e904",
	chevron-left:  "\e905",
	chevron-right: "\e906",
) !default;

// =============================================
// 3. DESIGN: DEFAULT

$default--border-width:  1px   !default;
$default--border-style:  solid !default;
$default--border-radius: 2px   !default;

// =============================================
// 4. DESIGN: FLAT

// =============================================
// 5. DESIGN: BOLD
$bold--border-width: 3px   !default;
$bold--border-style: solid !default;

// =============================================
// 6. DESIGN: MATERIAL
$material--border-width:    1px   !default;
$material--border-style:    solid !default;
$material--border-radius:   2px   !default;

$material--dropdown-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);