@charset "UTF-8";

@import "variables";

// Mixins
@import "mixins/body-class";
@import "mixins/breakpoints";

@include form-class(custom-form, no-theme, false) {

	// SPACING: Default
	&[data-grid="open"] {

		// ELEMENT: Row
		.forminator-row {

			&:not(:last-child) {
				margin-bottom: $gutter-sm;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		// ELEMENT: Column
		.forminator-col {

			&:not(:last-child) {
				margin-bottom: $gutter-sm;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}

	// SPACING: Enclosed
	&[data-grid="enclosed"] {

		// ELEMENT: Row
		.forminator-row {

			&:not(:last-child) {
				margin-bottom: $gutter-enclosed-sm;
			}
		}

		// ELEMENT: Column
		.forminator-col {

			&:not(:last-child) {
				margin-bottom: $gutter-enclosed-sm;
			}
		}
	}
}

@include form-class(custom-form, no-theme, true) {

	// ELEMENT: Row
	.forminator-row {

		@include media(min-width, sm) {
			display: flex;
		}
	}

	// ELEMENT: Column
	.forminator-col {

		&:not(:last-child) {

			@include media(min-width, sm) {
				margin-bottom: 0;
			}
		}

		@include media(min-width, sm) {
			min-width: 0;
			flex: 1;
		}
	}

	// ELEMENT: Multiple Columns
	.forminator-col-3,
	.forminator-col-4 {

		.forminator-row {

			&[data-multiple="true"] {

				@include media(min-width, sm) {
					display: block;
				}
			}
		}
	}

	// SPACING: Default
	&[data-grid="open"] {

		// ELEMENT: Row
		.forminator-row {

			&:not(:last-child) {

				@include media(min-width, sm) {
					margin-bottom: $gutter;
				}
			}

			@include media(min-width, sm) {
				margin-right: -#{$gutter / 2};
				margin-left: -#{$gutter / 2};
			}
		}

		// ELEMENT: Column
		.forminator-col {

			&:not(:last-child) {

				@include media(min-width, sm) {
					margin-bottom: 0;
				}
			}

			@include media(min-width, sm) {
				padding: 0 #{$gutter / 2};
			}
		}

		// ELEMENT: Multiple Columns
		.forminator-col-3,
		.forminator-col-4 {

			.forminator-row {

				&[data-multiple="true"] {

					.forminator-col {

						&:not(:last-child) {

							@include media(min-width, sm) {
								margin-bottom: $gutter;
							}
						}
					}
				}
			}
		}
	}

	// SPACING: Enclosed
	&[data-grid="enclosed"] {

		// ELEMENT: Row
		.forminator-row {

			&:not(:last-child) {

				@include media(min-width, sm) {
					margin-bottom: $gutter-enclosed;
				}
			}

			@include media(min-width, sm) {
				margin-right: -#{$gutter-enclosed / 2};
				margin-left: -#{$gutter-enclosed / 2};
			}
		}

		// ELEMENT: Column
		.forminator-col {

			@include media(min-width, sm) {
				padding: 0 #{$gutter-enclosed / 2};
			}
		}

		// ELEMENT: Multiple Columns
		.forminator-col-3,
		.forminator-col-4 {

			.forminator-row {

				&[data-multiple="true"] {

					.forminator-col {

						&:not(:last-child) {

							@include media(min-width, sm) {
								margin-bottom: $gutter-enclosed;
							}
						}
					}
				}
			}
		}
	}
}