@charset "UTF-8";

@import "variables";

// Helpers
@import "helpers/text-reset";
@import "helpers/icon-styles";

// Mixins
@import "mixins/body-class";
@import "mixins/breakpoints";
@import "mixins/opacity";
@import "mixins/animations";
@import "mixins/icons";

// Helpers
@import "helpers/screen-readers";

// Fields
@import "src/settings/components/rating";
@import "src/settings/components/slider";
@import "src/settings/components/paypal";
@import "src/settings/components/calendar";

// Components
@include component-rating(custom-form, basic);
@include component-slider(custom-form, basic);
@include component-calendar(custom-form, basic);
@include form-class(custom-form, basic, false) {

	// Hidden
	.forminator-hidden {
		display: none !important;
	}

	// Screenreader only.
	.forminator-screen-reader-only {
		@extend %screen-readers;
	}

	// Inputs
	.forminator-input,
	.forminator-select2,
	.forminator-textarea,
	.forminator-field-phone .iti {
		display: block;
		width: 100%;
	}

	.forminator-checkbox,
	.forminator-checkbox__wrapper {
		display: flex;
		align-items: center;
	}

	.forminator-textarea {
		padding: #{$textarea--padding - $default--border-width};
	}

	.forminator-input-with-icon {
		position: relative;

		[class*="forminator-icon-"] {
			position: absolute;
			top: 50%;
			left: map-get($input, padding);
			transform: translateY(-50%);
			display: block;
			font-size: map-get($icon, size);
			transition: map-get($transition, ease);

			&:before {
				color: inherit;
			}
		}

		.forminator-input {
			padding-left: #{(map-get($input, padding) - map-get($border-width, default)) + map-get($input, padding) + map-get($icon, size)};
		}
	}

	.forminator-input-with-suffix {
		position: relative;

		.forminator-input {
			padding-right: 60px;
		}

		.forminator-suffix {
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			padding: 0 map-get($input, padding);
			transform: translateY(-50%);
			line-height: 1.4em;
		}
	}


	// Labels
	.forminator-label {
		display: block;
	}

	.forminator-error-message {
		display: none;
	}

	.forminator-has_error {

		.forminator-error-message {
			display: block;
		}
	}

	// Radio
	.forminator-radio {
		display: flex;
	}

	// Timepicker
	.forminator-timepicker {
		.forminator-row {
			align-items: flex-end;
		}
	}
}