@import "variables";
@import "helpers";
@import "mixins";
@import "mixin-icon";

@at-root {

	@font-face {
		font-family: $fui-font--icon;
		font-weight: normal;
		font-style: normal;
		src: url('#{$fui-font-path}forminator-icons-font.eot');
		src: local('forminator-icons-font'),
			 url('#{$fui-font-path}forminator-icons-font.eot?#iefix') format('embedded-opentype'),
			 url('#{$fui-font-path}forminator-icons-font.woff2') format('woff2'),
			 url('#{$fui-font-path}forminator-icons-font.woff') format('woff'),
			 url('#{$fui-font-path}forminator-icons-font.ttf') format('truetype'),
			 url('#{$fui-font-path}forminator-icons-font.svg?#forminator-icons-font') format('svg');
	}
}

@include body-class(true) {

	[class*="forminator-icon-"] {
		@include icon(both);
	}

	@each $name, $char in $icons {

		.forminator-icon-#{$name}:before {
			content: $char;
		}
	}
}