<h1>Form Elements</h1>

<div class="sui-accordion">

	<!-- FIELD: Name (Single) -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Name <span class="sui-tag sui-tag-yellow" style="margin-left: 10px;">Single Field</span></span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">This field will allow yout to retrieve users' name with a single field.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div class="sui-form-field">

						<div class="forminator-custom-form" data-design="default" data-field="name-single">

							<div class="forminator-row"></div>

						</div>

					</div>

					<div class="sui-form-field">

						<span class="sui-label">Regular Markup</span>

						<div class="demo-code-block">

							<pre class="sui-code-snippet hljs html">
&lt;div class=&quot;forminator-col&quot;&gt;

	&lt;div class=&quot;forminator-field&quot;&gt;

		&lt;label for=&quot;field-name-single&quot; class=&quot;forminator-label&quot;&gt;Full Name&lt;/label&gt;

		&lt;input
			type=&quot;text&quot;
			placeholder=&quot;E.g. John Doe&quot;
			id=&quot;field-name-single&quot;
			class=&quot;forminator-input&quot;
		/&gt;

		&lt;span class=&quot;forminator-description&quot; aria-describedby=&quot;field-name-single&quot;&gt;
			Field description goes here.
		&lt;/span&gt;

	&lt;/div&gt;

&lt;/div&gt;
							</pre>

						</div>

					</div>

					<div class="sui-form-field">

						<span class="sui-label">Required Markup</span>

						<div class="demo-code-block">

							<pre class="sui-code-snippet hljs html">
&lt;div class=&quot;forminator-col&quot;&gt;

	&lt;div class=&quot;forminator-field forminator-is_required&quot;&gt;

		&lt;label for=&quot;field-name-single&quot; class=&quot;forminator-label&quot;&gt;
			Full Name
			&lt;span class=&quot;forminator-required&quot;&gt;*&lt;/span&gt;
		&lt;/label&gt;

		&lt;input
			type=&quot;text&quot;
			placeholder=&quot;E.g. John Doe&quot;
			id=&quot;field-name-single&quot;
			class=&quot;forminator-input&quot;
			aria-required=&quot;true&quot;
		/&gt;

		&lt;span class=&quot;forminator-error-message&quot; aria-hidden=&quot;true&quot;&gt;
			Required error message goes here.
		&lt;/span&gt;

		&lt;span class=&quot;forminator-description&quot; aria-describedby=&quot;field-name-single&quot;&gt;
			Field description goes here.
		&lt;/span&gt;

	&lt;/div&gt;

&lt;/div&gt;
							</pre>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Name (Multiple)-->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Name <span class="sui-tag sui-tag-yellow" style="margin-left: 10px;">Multiple Field</span></span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">This field will allow yout to retrieve users' name in a complex mode. This mode comes with different fields: prefix, first name, middle name, and last name.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div class="sui-form-field">

						<div class="forminator-custom-form" data-design="default" data-field="name-multiple">

							<div class="forminator-row"></div>

						</div>

					</div>

					<div class="sui-form-field">

						<span class="sui-label">Regular Markup</span>

						<div class="demo-code-block">

							<pre class="sui-code-snippet hljs html">
&lt;div class=&quot;forminator-col&quot;&gt;

	&lt;!-- Top row contains prefix and first name --&gt;
	&lt;div class=&quot;forminator-row&quot;&gt;

		&lt;div class=&quot;forminator-col&quot;&gt;

			&lt;div class=&quot;forminator-field&quot;&gt;

				&lt;label for=&quot;field-prefix&quot; class=&quot;forminator-label&quot;&gt;Prefix&lt;/label&gt;

				&lt;select id=&quot;field-prefix&quot; class=&quot;forminator-select&quot;&gt;
					&lt;option&gt;Mr.&lt;/option&gt;
					&lt;option&gt;Mrs.&lt;/option&gt;
					&lt;option&gt;Ms.&lt;/option&gt;
					&lt;option&gt;Miss&lt;/option&gt;
					&lt;option&gt;Dr.&lt;/option&gt;
					&lt;option&gt;Prof.&lt;/option&gt;
				&lt;/select&gt;

				&lt;span class=&quot;forminator-description&quot;&gt;Optional description for prefix field.&lt;/span&gt;

			&lt;/div&gt;

		&lt;/div&gt;

		&lt;div class=&quot;forminator-col&quot;&gt;

			&lt;div class=&quot;forminator-field&quot;&gt;

				&lt;label for=&quot;field-first-name&quot; class=&quot;forminator-label&quot;&gt;First Name&lt;/label&gt;

				&lt;input
					type=&quot;text&quot;
					placeholder=&quot;E.g. John&quot;
					id=&quot;field-first-name&quot;
					class=&quot;forminator-input&quot;
				/&gt;

				&lt;span class=&quot;forminator-error-message&quot; aria-hidden=&quot;true&quot;&gt;This field is required.&lt;/span&gt;

				&lt;span class=&quot;forminator-description&quot; aria-describedby=&quot;field-first-name&quot;&gt;Optional description for first name field.&lt;/span&gt;

			&lt;/div&gt;

		&lt;/div&gt;

	&lt;/div&gt;

	&lt;!-- Bottom row contains middle and last name --&gt;
	&lt;div class=&quot;forminator-row&quot;&gt;

		&lt;div class=&quot;forminator-col&quot;&gt;

			&lt;div class=&quot;forminator-field&quot;&gt;

				&lt;label for=&quot;field-middle-name&quot; class=&quot;forminator-label&quot;&gt;Middle Name&lt;/label&gt;

				&lt;input
					type=&quot;text&quot;
					placeholder=&quot;E.g. Smith&quot;
					id=&quot;field-middle-name&quot;
					class=&quot;forminator-input&quot;
				/&gt;

				&lt;span class=&quot;forminator-error-message&quot; aria-hidden=&quot;true&quot;&gt;This field is required.&lt;/span&gt;

				&lt;span class=&quot;forminator-description&quot; aria-describedby=&quot;field-middle-name&quot;&gt;Optional description for middle name field.&lt;/span&gt;

			&lt;/div&gt;

		&lt;/div&gt;

		&lt;div class=&quot;forminator-col&quot;&gt;

			&lt;div class=&quot;forminator-field&quot;&gt;

				&lt;label for=&quot;field-last-name&quot; class=&quot;forminator-label&quot;&gt;Last Name&lt;/label&gt;

				&lt;input
					type=&quot;text&quot;
					placeholder=&quot;E.g. Doe&quot;
					id=&quot;field-last-name&quot;
					class=&quot;forminator-input&quot;
				/&gt;

				&lt;span class=&quot;forminator-error-message&quot; aria-hidden=&quot;true&quot;&gt;This field is required.&lt;/span&gt;

				&lt;span class=&quot;forminator-description&quot; aria-describedby=&quot;field-middle-name&quot;&gt;Optional description for last name field.&lt;/span&gt;

			&lt;/div&gt;

		&lt;/div&gt;

	&lt;/div&gt;

&lt;/div&gt;
							</pre>

						</div>

					</div>

					<div class="sui-form-field">

						<span class="sui-label">Required Markup</span>

						<div class="demo-code-block">

							<pre class="sui-code-snippet hljs html">
&lt;div class=&quot;forminator-col&quot;&gt;

	&lt;!-- Top row contains prefix and first name --&gt;
	&lt;div class=&quot;forminator-row&quot;&gt;

		&lt;div class=&quot;forminator-col&quot;&gt;

			&lt;div class=&quot;forminator-field&quot;&gt;

				&lt;label for=&quot;field-prefix&quot; class=&quot;forminator-label&quot;&gt;Prefix&lt;/label&gt;

				&lt;select id=&quot;field-prefix&quot; class=&quot;forminator-select&quot;&gt;
					&lt;option&gt;Mr.&lt;/option&gt;
					&lt;option&gt;Mrs.&lt;/option&gt;
					&lt;option&gt;Ms.&lt;/option&gt;
					&lt;option&gt;Miss&lt;/option&gt;
					&lt;option&gt;Dr.&lt;/option&gt;
					&lt;option&gt;Prof.&lt;/option&gt;
				&lt;/select&gt;

				&lt;span class=&quot;forminator-description&quot;&gt;Optional description for prefix field.&lt;/span&gt;

			&lt;/div&gt;

		&lt;/div&gt;

		&lt;div class=&quot;forminator-col&quot;&gt;

			&lt;div class=&quot;forminator-field forminator-is_required&quot;&gt;

				&lt;label for=&quot;field-first-name&quot; class=&quot;forminator-label&quot;&gt;
					First Name
					&lt;span class=&quot;forminator-required&quot;&gt;*&lt;/span&gt;
				&lt;/label&gt;

				&lt;input
					type=&quot;text&quot;
					placeholder=&quot;E.g. John&quot;
					id=&quot;field-first-name&quot;
					class=&quot;forminator-input&quot;
					aria-required=&quot;true&quot;
				/&gt;

				&lt;span class=&quot;forminator-error-message&quot; aria-hidden=&quot;true&quot;&gt;This field is required.&lt;/span&gt;

				&lt;span class=&quot;forminator-description&quot; aria-describedby=&quot;field-first-name&quot;&gt;Optional description for first name field.&lt;/span&gt;

			&lt;/div&gt;

		&lt;/div&gt;

	&lt;/div&gt;

	&lt;!-- Bottom row contains middle and last name --&gt;
	&lt;div class=&quot;forminator-row&quot;&gt;

		&lt;div class=&quot;forminator-col&quot;&gt;

			&lt;div class=&quot;forminator-field forminator-is_required&quot;&gt;

				&lt;label for=&quot;field-middle-name&quot; class=&quot;forminator-label&quot;&gt;
					Middle Name
					&lt;span class=&quot;forminator-required&quot;&gt;*&lt;/span&gt;
				&lt;/label&gt;

				&lt;input
					type=&quot;text&quot;
					placeholder=&quot;E.g. Smith&quot;
					id=&quot;field-middle-name&quot;
					class=&quot;forminator-input&quot;
					aria-required=&quot;true&quot;
				/&gt;

				&lt;span class=&quot;forminator-error-message&quot; aria-hidden=&quot;true&quot;&gt;This field is required.&lt;/span&gt;

				&lt;span class=&quot;forminator-description&quot; aria-describedby=&quot;field-middle-name&quot;&gt;Optional description for middle name field.&lt;/span&gt;

			&lt;/div&gt;

		&lt;/div&gt;

		&lt;div class=&quot;forminator-col&quot;&gt;

			&lt;div class=&quot;forminator-field forminator-is_required&quot;&gt;

				&lt;label for=&quot;field-last-name&quot; class=&quot;forminator-label&quot;&gt;
					Last Name
					&lt;span class=&quot;forminator-required&quot;&gt;*&lt;/span&gt;
				&lt;/label&gt;

				&lt;input
					type=&quot;text&quot;
					placeholder=&quot;E.g. Doe&quot;
					id=&quot;field-last-name&quot;
					class=&quot;forminator-input&quot;
					aria-required=&quot;true&quot;
				/&gt;

				&lt;span class=&quot;forminator-error-message&quot; aria-hidden=&quot;true&quot;&gt;This field is required.&lt;/span&gt;

				&lt;span class=&quot;forminator-description&quot; aria-describedby=&quot;field-middle-name&quot;&gt;Optional description for last name field.&lt;/span&gt;

			&lt;/div&gt;

		&lt;/div&gt;

	&lt;/div&gt;

&lt;/div&gt;
							</pre>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Email -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-mail" aria-hidden="true"></i>
				<span>Email</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Every form needs an email field if you try to communicate easy and faster with your clients.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="email">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Phone -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-phone" aria-hidden="true"></i>
				<span>Phone</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">If you need to reach your clients by phone, or simply need to storage a phone number, this field is right for you.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="phone">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Address -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-pin" aria-hidden="true"></i>
				<span>Address</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="address">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Website -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-web-globe-world" aria-hidden="true"></i>
				<span>Website</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="website">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Input -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-style-type" aria-hidden="true"></i>
				<span>Input</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="input">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Textarea -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-blog" aria-hidden="true"></i>
				<span>Textarea</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="textarea">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Number -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-number" aria-hidden="true"></i>
				<span>Number</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="number">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Radio -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-radio" aria-hidden="true"></i>
				<span>Radio</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="radio">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Checkbox -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-checkbox" aria-hidden="true"></i>
				<span>Checkbox</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="checkbox">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Select -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-select" aria-hidden="true"></i>
				<span>Select</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Single Field</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="select-single">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Multiple Field</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="select-multiple">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Datepicker -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-calendar" aria-hidden="true"></i>
				<span>Datepicker</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="datepicker">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Timepicker -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-clock" aria-hidden="true"></i>
				<span>Timepicker</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Inputs</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="timepicker-inputs">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Dropdowns</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="timepicker-dropdowns">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: File Upload -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-download" aria-hidden="true"></i>
				<span>File Upload</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="upload">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Post Data -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-post-pin" aria-hidden="true"></i>
				<span>Post Data</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="post-data">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>