<h1>Form Elements</h1>

<div class="sui-accordion">

	<!-- FIELD: Name (Single) -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Response Messages</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="10"
						data-design="default"
					>

						<div class="forminator-response-message forminator-error forminator-show">
							<p>Error message</p>
						</div>

						<div class="forminator-response-message forminator-success forminator-show">
							<p>Success message</p>
						</div>

						<div class="forminator-response-message forminator-loading forminator-show">
							<p>Loading message</p>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Name (Single) -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Name <span class="sui-tag sui-tag-yellow" style="margin-left: 10px;">Single Field</span></span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">This field will allow yout to retrieve users' name with a single field.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="11"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="name-single"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="12"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="name-single"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Name (Multiple)-->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Name <span class="sui-tag sui-tag-yellow" style="margin-left: 10px;">Multiple Field</span></span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">This field will allow yout to retrieve users' name in a complex mode. This mode comes with different fields: prefix, first name, middle name, and last name.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="21"
						data-design="default"
						data-grid="open"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="name-multiple"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="22"
						data-design="default"
						data-grid="open"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="name-multiple"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Email -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-mail" aria-hidden="true"></i>
				<span>Email</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Every form needs an email field if you try to communicate easy and faster with your clients.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="31"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="email"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="32"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="email"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Phone -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-phone" aria-hidden="true"></i>
				<span>Phone</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">If you need to reach your clients by phone, or simply need to storage a phone number, this field is right for you.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="41"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="phone"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="42"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="phone"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Address -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-pin" aria-hidden="true"></i>
				<span>Address</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="51"
						data-design="default"
						data-grid="open"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="address"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="52"
						data-design="default"
						data-grid="open"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="address"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Website -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-web-globe-world" aria-hidden="true"></i>
				<span>Website</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="61"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="website"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="62"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="website"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Input -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-style-type" aria-hidden="true"></i>
				<span>Input</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="71"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="input"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="72"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="input"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Textarea -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-blog" aria-hidden="true"></i>
				<span>Textarea</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="81"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="textarea"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="82"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="textarea"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Number -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-number" aria-hidden="true"></i>
				<span>Number</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="91"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="number"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="92"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="number"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Radio -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-radio" aria-hidden="true"></i>
				<span>Radio</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="101"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="radio"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="102"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="radio"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Checkbox -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-checkbox" aria-hidden="true"></i>
				<span>Checkbox</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="111"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="checkbox"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="112"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="checkbox"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Select (Single) -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Select <span class="sui-tag sui-tag-yellow" style="margin-left: 10px;">Single Field</span></span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="121"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="select-single"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Select (Multiple) -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Select <span class="sui-tag sui-tag-yellow" style="margin-left: 10px;">Multiple Field</span></span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="131"
						data-design="default"
						data-form-id="select-multiple"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="select-multiple"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="132"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="select-multiple"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="132"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="select-multiple-alt"
								data-required="true"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Datepicker -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-calendar" aria-hidden="true"></i>
				<span>Datepicker</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="141"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="datepicker"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="142"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="datepicker"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Timepicker (Inputs) -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Timepicker <span class="sui-tag sui-tag-yellow" style="margin-left: 10px;">Inputs</span></span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="151"
						data-design="default"
						data-grid="open"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="timepicker-inputs"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="152"
						data-design="default"
						data-grid="open"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="timepicker-inputs"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: File Upload -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-download" aria-hidden="true"></i>
				<span>File Upload</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-id="161"
						data-design="default"
					>

						<div class="forminator-row">

							<div
								class="forminator-col"
								data-field="upload"
								data-required="false"
							></div>

						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Post Data -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-post-pin" aria-hidden="true"></i>
				<span>Post Data</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-ui forminator-custom-form" data-design="default" data-field="post-data">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Slider -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-post-pin" aria-hidden="true"></i>
				<span>Slider</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-ui forminator-custom-form" data-design="default">

						<div class="forminator-row">
						
							<div class="forminator-col" data-field="slider" data-required="true">							
							</div>
						
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>