<h1>Form Elements</h1>

<div class="sui-accordion">

	<!-- FIELD: Name -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-profile-male" aria-hidden="true"></i>
				<span>Name</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">This field will allow yout to retrieve users' name in a simple or complex mode. The simple mode is a single text field, while complex mode comes with multiple fields: prefix, first name, middle name, and last name.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Single Field</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="name-single">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Multiple Field</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="name-multiple">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Email -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-mail" aria-hidden="true"></i>
				<span>Email</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Every form needs an email field if you try to communicate easy and faster with your clients.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="email">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Phone -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-phone" aria-hidden="true"></i>
				<span>Phone</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">If you need to reach your clients by phone, or simply need to storage a phone number, this field is right for you.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="phone">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Address -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-pin" aria-hidden="true"></i>
				<span>Address</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="address">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Website -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-web-globe-world" aria-hidden="true"></i>
				<span>Website</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="website">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Input -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-style-type" aria-hidden="true"></i>
				<span>Input</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="input">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Textarea -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-blog" aria-hidden="true"></i>
				<span>Textarea</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="textarea">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Number -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-number" aria-hidden="true"></i>
				<span>Number</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="number">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Radio -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-radio" aria-hidden="true"></i>
				<span>Radio</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="radio">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Checkbox -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-checkbox" aria-hidden="true"></i>
				<span>Checkbox</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="checkbox">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Select -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-element-select" aria-hidden="true"></i>
				<span>Select</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Single Field</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="select-single">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Multiple Field</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="select-multiple">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Datepicker -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-calendar" aria-hidden="true"></i>
				<span>Datepicker</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="datepicker">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- FIELD: Timepicker -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<i class="sui-icon-clock" aria-hidden="true"></i>
				<span>Timepicker</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<p style="margin-top: 0; margin-bottom: 20px;">Donec ullamcorper nulla non metus auctor fringilla.</p>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Inputs</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="timepicker-inputs">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

			<div class="sui-box">

				<div class="sui-box-header">
					<h2 class="sui-box-title">Example</h2>
					<div class="sui-actions-left">
						<span class="sui-tag">Dropdowns</span>
					</div>
				</div>

				<div class="sui-box-body">

					<div class="forminator-custom-form" data-design="default" data-field="timepicker-dropdowns">

						<div class="forminator-row"></div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>