<h1>Form Samples</h1>

<div class="sui-accordion">

	<!-- SAMPLE: Contact Us -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<span>Contact Us</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-design="default"
					>

						<div class="forminator-row">
							<div class="forminator-col" data-field="name-single"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="phone"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="email"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="textarea"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="submit"></div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- SAMPLE: Quote Request -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<span>Quote Request</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						id="quote-request"
						class="forminator-ui forminator-custom-form"
						data-design="default"
					>

						<div class="forminator-row">
							<div class="forminator-col" data-field="name-multiple"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="email"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="datepicker"></div>
							<div class="forminator-col" data-field="datepicker"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="select-single"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="checkbox"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="submit"></div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- SAMPLE: File Upload -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<span>File Upload</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-design="default"
					>

						<div class="forminator-row">
							<div class="forminator-col" data-field="name-multiple"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="email"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="upload"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="submit"></div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

	<!-- SAMPLE: Create Post -->
	<div class="sui-accordion-item">

		<div class="sui-accordion-item-header">
			<div class="sui-accordion-item-title">
				<span>Create Post</span>
				<button class="sui-button-icon sui-accordion-open-indicator">
					<i class="sui-icon-chevron-down" aria-hidden="true"></i>
					<span class="sui-screen-reader-text">Open</span>
				</button>
			</div>
		</div>

		<div class="sui-accordion-item-body">

			<div class="sui-box">

				<div class="sui-box-body">

					<div
						class="forminator-ui forminator-custom-form"
						data-design="default"
					>

						<div class="forminator-row">
							<div class="forminator-col" data-field="name-single"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="email"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="post-data"></div>
						</div>

						<div class="forminator-row">
							<div class="forminator-col" data-field="submit"></div>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>