@mixin pagination-core($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-pagination-content {
			display: block;

			&, li {
				margin: 0;
				padding: 0;
				border: 0;
				list-style: none;

				&:before,
				&:after {
					content: unset;
				}
			}

			li {
				display: none;
				visibility: hidden;

				&:focus {
					outline: none;
					box-shadow: none;
				}

				&.forminator-current {
					display: block;
					visibility: visible;
				}
			}
		}

		.forminator-pagination-footer {
			display: block;
			margin: $gutter-sm 0 0;

			.forminator-button {
				width: 100%;
				display: block;
				margin-right: 0;

				&:last-child {
					margin-bottom: 0;
				}

				@include media(max-width, sm) {
					margin-right: 0;
					margin-bottom: 10px;
				}
			}
		}
	}

	@include form-class($form-type, $form-theme, true) {

		.forminator-pagination-footer {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			margin: $gutter 0 0;
			
			button, 
			a {
				order: 2;
			}

			.forminator-button {

				&:last-child {

					@include media(min-width, sm) {
						margin-right: 0;
					}
				}

				@include media(min-width, sm) {
					width: auto;
					flex: 0 0 auto;
				}
			}
		}

		&.draft-enabled {

			.forminator-pagination-footer {
				justify-content: flex-end;

				.forminator-button-back {
					margin-right: 20px;
					@include media(max-width, sm) {
						margin-right: 0;
					}
				}

				.forminator-save-draft-link {
					padding: 10px 0;
					margin: 0 auto 0 0;
					text-align: right;
					line-height: 22px;

					@include media(max-width, sm) {
						width: 100%;
						text-align: center;
						margin: 0 0 10px;
						order: 3;
					}
				}
			}

		}
	}
}