%icon-styles {
	speak: none;
	display: inline-block;
	color: inherit;
	font-family: $font--icon !important;
	font-size: 1em;
	line-height: 1em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}