@charset "UTF-8";

@import "../../variables";

$form-type: custom-form;
$form-theme: flat;

// Helpers.
@import "../../helpers/text-reset";
@import "../../helpers/text-truncate";
@import "../../helpers/icon-styles";
@import "../../helpers/screen-readers";

// Mixins.
@import "../../mixins/body-class";
@import "../../mixins/breakpoints";
@import "../../mixins/opacity";
@import "../../mixins/icons";
@import "../../mixins/animations";

// Containers.
@import "../settings/containers/form";

// Call Containers.
@include container-form(#{$form-type}, #{$form-theme});

// Components.
@import "../settings/components/response";
@import "../settings/components/section";
@import "../settings/components/label";
@import "../settings/components/label-floating";
@import "../settings/components/description";
@import "../settings/components/input";
@import "../settings/components/input-with-prefix";
@import "../settings/components/textarea";
@import "../settings/components/radio";
@import "../settings/components/checkbox";
@import "../settings/components/button";
@import "../settings/components/recaptcha";

// Call Components.
@include component-response(#{$form-type}, #{$form-theme});
@include component-section(#{$form-type}, #{$form-theme});
@include component-label(#{$form-type}, #{$form-theme});
@include component-label-floating(#{$form-type}, #{$form-theme});
@include component-description(#{$form-type}, #{$form-theme});
@include component-input(#{$form-type}, #{$form-theme});
@include component-input-with-prefix(#{$form-type}, #{$form-theme});
@include component-textarea(#{$form-type}, #{$form-theme});
@include component-radio(#{$form-type}, #{$form-theme});
@include component-checkbox(#{$form-type}, #{$form-theme});
@include component-button(#{$form-type}, #{$form-theme});
@include component-recaptcha(#{$form-type}, #{$form-theme});