@import '../helpers/wrappers';

@mixin components($divi: false) {
	
	@include wrapper-class($divi) {

		.forminator-input {
			display: block;
		}
	
		.forminator-button {
			width: auto;
			height: auto;
			cursor: pointer;
			background-image: unset;
	
			// PayPal Button.
			&-paypal {
				display: block;
				position: relative;
				z-index: 1;
	
				> .paypal-buttons {
					display: block !important;
				}
			}
		}
	}
}