@import '../helpers/wrappers';

@mixin components($divi: false) {
	
	@include wrapper-class($divi, $rtl: false) {

		.forminator-input {
			display: block;
		}
	
		.forminator-button {
			cursor: pointer;
			display: inline-block;
			margin: 0 10px 0 0;

			&:last-child {
				margin: 0;
			}
		}
	}
}