@import '../helpers/wrappers';

@mixin components($divi: false) {

	@include wrapper-class($divi, $rtl: false) {

		.forminator-input,
		.forminator-textarea {
			display: block;
		}

		.forminator-textarea {
			resize: vertical;
		}

		.forminator-radio {
			margin: 5px 0;

			span:not([aria-hidden]) {
				margin-left: 10px;
			}

			// VARIATION: Inline
			&.forminator-radio-inline {
				margin-right: 20px;

				&:last-of-type {
					margin-right: 0;
				}
			}

			// VARIATION: Stacked
			&:not(.forminator-radio-inline) {
				display: block;

				&:first-of-type {
					margin-top: 0;
				}

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		.forminator-button {
			cursor: pointer;
			display: inline-block;
			margin: 0 10px 0 0;

			&:last-child {
				margin: 0;
			}
		}
	}
}