@import '../helpers/wrappers';

@mixin typography($divi: false) {

	@include wrapper-class($divi, $rtl: false) {

		.forminator-title,
		.forminator-subtitle {
			display: block;
		}

		.forminator-label {
			display: block;

			&[for] {
				cursor: pointer;
			}
		}
	
		.forminator-description {
			display: flex;
		}
	
		.forminator-error-message {
			display: none;
		}
	
		.forminator-has_error {
	
			.forminator-error-message {
				display: block;
			}
		}
	}
}