@import '../helpers/wrappers';

@include wrapper-class($divi: false) {

	.forminator-label {
		display: block;
	}

	.forminator-description {
		display: flex;
	}

	.forminator-error-message {
		display: none;
	}

	.forminator-has_error {

		.forminator-error-message {
			display: block;
		}
	}
}