@include body-class() {

	.navigation-main {
		display: flex;
		align-items: center;
		position: sticky;
		top: 0;
		padding: 15px;
		background-color: $mainnav-background;
		color: $mainnav-color;

		.navigation-title {
			margin: 0 0 0 15px;
			font-size: 14px;
			line-height: 22px;
			font-weight: 500;
		}

		.navigation-button {
			cursor: pointer;
			display: block;
			margin: 0;
			padding: 8px;
			border: 0;
			background-color: transparent;

			i {
				width: 14px;
				height: 2px;
				display: block;
				margin: 2px 0 0;
				border-radius: 2px;
				background-color: $mainnav-burger;

				&:first-child {
					margin-top: 0;
				}
			}

			span {
				@extend %screen-reader-text;
			}

			&,
			&:hover,
			&:active {
				outline: none;
				box-shadow: none;
			}
		}
	}
}