@include body-class() {

	h1 {
		margin: 0;
		color: #333;
		font: bold 32px/40px $font--alt;
		text-align: left;
	}

	h2 {
		margin: 0;
		color: #333;
		font: bold 22px/30px $font--alt;
		text-align: left;
	}

	p {
		color: #666;
		font: 400 15px/30px $font;
		text-align: left;
	}

	.description {
		display: block;
		color: #666;
		font: 400 13px/18px $font;
	}

	.block-label {
		display: block;
		color: #666666;
		font: 500 15px/22px $font;

		&.dark {
			color: #333333;
		}
	}
}