.ui-datepicker {

	&.forminator-calendar--default,
	&.forminator-calendar--flat,
	&.forminator-calendar--bold,
	&.forminator-calendar--material {
		width: auto;
		margin: 0;
		padding: 1px 0;
		border: 0;
		border-radius: 0;
		background-color: transparent !important;

		&, * {
			box-sizing: border-box;
			@extend %text-reset;
		}

		&:before {
			content: " ";
			display: block;
			position: absolute;
			z-index: 1;
			top: 1px;
			right: 0;
			bottom: 1px;
			left: 0;
		}

		.ui-datepicker-header {
			display: block;
			position: relative;
			z-index: 1;
			padding: 10px;

			.ui-corner-all {
				width: map-get($calendar, select-size);
				height: map-get($calendar, select-size);
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 11px;
				font-size: map-get($calendar, arrows-size);
				transition: map-get($transition, ease);

				&,
				&:hover,
				&:focus,
				&:active {
					outline: none;
					box-shadow: none;
					text-decoration: none;
				}

				.ui-icon {
					@extend %screen-readers;
				}

				&.ui-datepicker-prev {
					right: unset;
					left: 10px;

					@include icon(before, chevron-left);
				}

				&.ui-datepicker-next {
					right: 10px;
					left: unset;

					@include icon(before, chevron-right);
				}
			}

			.ui-datepicker-title {
				display: flex;
				padding: 0 #{map-get($calendar, select-size) + 10px};

				select {
					height: map-get($calendar, select-size);
					cursor: pointer;
					flex: 1;
					margin: 0 5px;
					font-size: 14px;
					font-family: inherit;
					appearance: none;

					&,
					&:hover,
					&:focus,
					&:active {
						outline: none;
						box-shadow: none;
					}

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}

			+ .ui-datepicker-calendar {
				padding-top: 0;
			}
		}

		.ui-datepicker-calendar {
			width: auto;
			table-layout: fixed;
			position: relative;
			z-index: 1;
			margin: 0;
			padding: 0;
			border: 0;
			border-spacing: 0;
			border-collapse: collapse;
			font-family: inherit;

			thead,
			tbody {

				tr {
					margin: 0;
					padding: 0;
					border: 0;

					th, td {
						margin: 0;
						padding: 5px;
						border: 0;
						text-align: center;
						font-family: inherit;

						a, span {
							width: map-get($calendar, cell-size);
							display: block;
							padding: 2px;
							border: 0;
							border-radius: #{map-get($calendar, cell-size) * 2};
						}

						a {
							text-decoration: none;
							transition: map-get($calendar, ease);

							&,
							&:hover,
							&:active,
							&:visited {
								outline: none;
								box-shadow: none;
								text-decoration: none;
							}

							&,
							&:visited {
								font-weight: 400;
							}

							&:hover,
							&:active {
								font-weight: 600;
							}
						}
					}
				}
			}

			thead {

				tr {

					th {
						font-size: 12px;
						font-weight: 600;

						span {
							display: block;
						}
					}
				}
			}

			tbody {

				tr {

					td {
						font-size: 13px;

						&.ui-state-disabled,
						&.ui-datepicker-unselectable {

							a, span {
								cursor: not-allowed;
								user-select: none;
								@include opacity(0.3);
							}

							&.ui-datepicker-other-month {

								a, span {
									cursor: default;
								}
							}
						}
					}
				}
			}

			+ .ui-datepicker-buttonpane {
				padding-top: 8px;
			}
		}
	}

	// DESIGN: Default
	&.forminator-calendar--default {

		&:before {
			border-width: map-get($border-width, default);
			border-style: map-get($border-style, default);
			border-radius: map-get($border-radius, default);
		}

		.ui-datepicker-header {

			.ui-corner-all {
				border-radius: map-get($border-radius, default);
			}

			.ui-datepicker-title {

				select {
					border-width: map-get($border-width, default);
					border-style: map-get($border-style, default);
					border-radius: map-get($border-radius, default);
					padding: 0 #{10px - map-get($border-width, default)};
					line-height: #{map-get($calendar, select-size) - (map-get($border-width, default) * 2)};
				}
			}
		}

		.ui-datepicker-calendar {

			thead,
			tbody {

				tr {

					th, td {

						&:first-child {
							padding-left: #{15px - map-get($border-width, default)};
						}

						&:last-child {
							padding-right: #{15px - map-get($border-width, default)};
						}
					}
				}
			}

			thead {

				tr {

					th {

						span {
							line-height: 1.4em;
						}
					}
				}
			}

			tbody {

				tr {

					td {

						a, span {
							border-width: map-get($border-width, default);
							border-style: map-get($border-style, default);
							border-radius: map-get($border-radius, default);
							line-height: #{map-get($calendar, cell-size) - (map-get($border-width, default) * 2) - 4px};
						}
					}
				}
			}

			&:last-child {

				thead:last-child,
				tbody:last-child {

					tr:last-child {

						th, td {
							padding-bottom: #{15px - map-get($border-width, default)};
						}
					}
				}
			}
		}
	}

	// DESIGN: Flat
	&.forminator-calendar--flat {

		.ui-datepicker-header {

			.ui-corner-all {
				border-radius: 100%;
			}

			.ui-datepicker-title {

				select {
					border-width: map-get($border-width, flat);
					border-style: map-get($border-style, flat);
					border-radius: map-get($border-radius, flat);
					padding: 0 #{10px - map-get($border-width, flat)};
					line-height: map-get($calendar, select-size);
				}
			}
		}

		.ui-datepicker-calendar {

			thead,
			tbody {

				tr {

					th, td {

						&:first-child {
							padding-left: #{15px - map-get($border-width, flat)};
						}

						&:last-child {
							padding-right: #{15px - map-get($border-width, flat)};
						}
					}
				}
			}

			thead {

				tr {

					th {

						span {
							line-height: 1.4em;
						}
					}
				}
			}

			tbody {

				tr {

					td {

						a, span {
							border-width: map-get($border-width, flat);
							border-style: map-get($border-style, flat);
							border-radius: map-get($border-radius, flat);
							line-height: #{map-get($calendar, cell-size) - (map-get($border-width, flat) * 2) - 4px};
						}
					}
				}
			}

			&:last-child {

				thead:last-child,
				tbody:last-child {

					tr:last-child {

						th, td {
							padding-bottom: #{15px - map-get($border-width, flat)};
						}
					}
				}
			}
		}
	}

	// DESIGN: Bold
	&.forminator-calendar--bold {

		&:before {
			border-width: map-get($border-width, bold);
			border-style: map-get($border-style, bold);
			border-radius: map-get($border-radius, bold);
		}

		.ui-datepicker-header {

			.ui-corner-all {
				border-radius: map-get($border-radius, bold);
			}

			.ui-datepicker-title {

				select {
					border-width: map-get($border-width, bold);
					border-style: map-get($border-style, bold);
					border-radius: map-get($border-radius, bold);
					padding: 0 #{10px - map-get($border-width, bold)};
					line-height: #{map-get($calendar, select-size) - (map-get($border-width, bold) * 2)};
				}
			}
		}

		.ui-datepicker-calendar {

			thead,
			tbody {

				tr {

					th, td {

						&:first-child {
							padding-left: #{15px - map-get($border-width, bold)};
						}

						&:last-child {
							padding-right: #{15px - map-get($border-width, bold)};
						}
					}
				}
			}

			thead {

				tr {

					th {

						span {
							line-height: 1.4em;
						}
					}
				}
			}

			tbody {

				tr {

					td {

						a, span {
							border-width: map-get($border-width, bold);
							border-style: map-get($border-style, bold);
							border-radius: map-get($border-radius, bold);
							line-height: #{map-get($calendar, cell-size) - (map-get($border-width, bold) * 2) - 4px};
						}
					}
				}
			}

			&:last-child {

				thead:last-child,
				tbody:last-child {

					tr:last-child {

						th, td {
							padding-bottom: #{15px - map-get($border-width, bold)};
						}
					}
				}
			}
		}
	}

	// DESIGN: Material
	&.forminator-calendar--material {

		&:before {
			border-width: 0;
			border-style: none;
			border-radius: map-get($border-radius, material);
		}

		.ui-datepicker-header {

			.ui-corner-all {
				border-radius: 0;
				background-color: transparent;
			}

			.ui-datepicker-title {

				select {
					border-width: 0;
					border-style: none;
					border-radius: 0;
					padding: 0 10px;
					line-height: map-get($calendar, select-size);
				}
			}

			+ .ui-datepicker-calendar {
				margin-top: 10px;
			}
		}

		.ui-datepicker-calendar {

			thead,
			tbody {

				tr {

					th, td {

						&:first-child {
							padding-left: #{15px - map-get($border-width, material)};
						}

						&:last-child {
							padding-right: #{15px - map-get($border-width, material)};
						}
					}
				}
			}

			thead {

				tr {

					th {

						span {
							line-height: 1.4em;
						}
					}
				}
			}

			tbody {

				tr {

					td {

						a, span {
							border-width: map-get($border-width, material);
							border-style: map-get($border-style, material);
							border-radius: 100%;
							line-height: #{map-get($calendar, cell-size) - (map-get($border-width, material) * 2) - 4px};
						}
					}
				}
			}

			&:last-child {

				thead:last-child,
				tbody:last-child {

					tr:last-child {

						th, td {
							padding-bottom: #{15px - map-get($border-width, material)};
						}
					}
				}
			}
		}
	}
}

/*
.ui-datepicker {

	&.forminator-calendar--default,
	&.forminator-calendar--flat,
	&.forminator-calendar--bold,
	&.forminator-calendar--material {

		&, * {
			box-sizing: border-box;
			@extend %text-reset;
		}

		.ui-datepicker-header {
			display: block;
			position: relative;

			.ui-datepicker-title {
				display: flex;
				padding: 0 #{map-get($calendar, select-size) + map-get($calendar, padding)};

				select {
					height: map-get($calendar, select-size);
					cursor: pointer;
					appearance: none;
					flex: 1;
					margin: 0;
					padding: 0;
					border: 0;
					background-image: unset;

					&,
					&:hover,
					&:active {
						outline: none;
						box-shadow: none;
					}

					+ select {
						margin-left: map-get($calendar, padding);
					}
				}
			}

			.ui-datepicker-prev,
			.ui-datepicker-next {
				width: map-get($calendar, select-size);
				height: map-get($calendar, select-size);
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				margin: 0;
				padding: 0;
				border: 0;

				@include icon(before) {
					display: block;
					color: inherit;
					font-size: map-get($calendar, arrows-size);
				}

				span {
					@extend %screen-readers;
				}
			}

			.ui-datepicker-prev {
				@include icon(before, chevron-left, false);
			}

			.ui-datepicker-next {
				@include icon(before, chevron-right, false);
			}
		}

		.ui-datepicker-calendar {
			width: 100%;
			border-spacing: 0;
			border-collapse: collapse;

			thead,
			tbody {

				tr {

					th, td {
						padding-right: #{map-get($calendar, padding) / 2};
						padding-left: #{map-get($calendar, padding) / 2};

						span, a {
							width: map-get($calendar, select-size);
							height: map-get($calendar, cell-size);
							display: block;
							margin: 0;
							padding: 0;
							text-align: center;
						}

						a {

							&,
							&:hover,
							&:active {
								text-decoration: none;
							}
						}

						&:first-child {
							padding-left: 0;
						}

						&:last-child {
							padding-right: 0;
						}
					}
				}
			}

			tbody {

				tr:last-child {

					th, td {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	// DESIGN: Default
	&.forminator-calendar--default {
		padding: #{map-get($calendar, padding) - map-get($border-width, default)};
		border-width: map-get($border-width, default);
		border-style: map-get($border-style, default);
		border-radius: map-get($border-radius, default);

		.ui-datepicker-header {
			margin: 0 0 map-get($calendar, padding);

			.ui-datepicker-title select {
				padding: 0 #{map-get($calendar, padding) - map-get($border-width, default)};
				border-width: map-get($border-width, default);
				border-style: map-get($border-style, default);
				border-radius: map-get($border-radius, default);
				line-height: #{map-get($calendar, select-size) - (map-get($border-width, default) * 2)};
			}

			.ui-datepicker-prev,
			.ui-datepicker-next {
				top: 0;
				border-radius: map-get($border-radius, default);
			}

			.ui-datepicker-prev {
				left: 0;
			}

			.ui-datepicker-next {
				right: 0;
			}
		}

		.ui-datepicker-calendar {

			thead,
			tbody {

				tr {

					th, td {

						span, a {
							border-radius: map-get($border-radius, default);
							line-height: #{map-get($calendar, cell-size) - (map-get($border-width, default) * 2)};
						}

						&.ui-datepicker-today {

							span, a {
								border-width: map-get($border-width, default);
								border-style: map-get($border-style, default);
							}
						}
					}
				}
			}
		}
	}

	// DESIGN: Flat
	&.forminator-calendar--flat {
		padding: map-get($calendar, padding);
		border-width: map-get($border-width, flat);
		border-style: map-get($border-style, flat);
		border-radius: map-get($border-radius, flat);

		.ui-datepicker-header {

			.ui-datepicker-prev,
			.ui-datepicker-next {
				top: 0;
			}

			.ui-datepicker-prev {
				left: 0;
			}

			.ui-datepicker-next {
				right: 0;
			}
		}
	}

	// DESIGN: Bold
	&.forminator-calendar--bold {
		padding: #{map-get($calendar, padding) - map-get($border-width, bold)};
		border-width: map-get($border-width, bold);
		border-style: map-get($border-style, bold);
		border-radius: map-get($border-radius, bold);

		.ui-datepicker-header {

			.ui-datepicker-prev,
			.ui-datepicker-next {
				top: 0;
			}

			.ui-datepicker-prev {
				left: 0;
			}

			.ui-datepicker-next {
				right: 0;
			}
		}

		.ui-datepicker-calendar {

			thead,
			tbody {

				tr {

					th, td {

						span, a {
							border-width: map-get($border-width, bold);
							border-style: map-get($border-style, bold);
							border-radius: 0;
						}
					}
				}
			}
		}
	}

	// DESIGN: Material
	&.forminator-calendar--material {}
}
*/