.ui-datepicker {

	&[class*="forminator-calendar--"] {

		&, * {
			box-sizing: border-box;
			@extend %text-reset;
		}

		.ui-datepicker-header {
			display: block;
			position: relative;

			.ui-datepicker-title {
				display: flex;
				padding: 0 #{map-get($calendar, select-size) + map-get($calendar, padding)};

				select {
					height: map-get($calendar, select-size);
					cursor: pointer;
					appearance: none;
					flex: 1;
					margin: 0;
					padding: 0;
					border: 0;
					background-image: unset;

					&,
					&:hover,
					&:active {
						outline: none;
						box-shadow: none;
					}

					+ select {
						margin-left: map-get($calendar, padding);
					}
				}
			}

			.ui-datepicker-prev,
			.ui-datepicker-next {
				width: map-get($calendar, select-size);
				height: map-get($calendar, select-size);
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				margin: 0;
				padding: 0;
				border: 0;

				@include icon(before) {
					display: block;
					color: inherit;
					font-size: map-get($calendar, arrows-size);
				}

				span {
					@extend %screen-readers;
				}
			}

			.ui-datepicker-prev {
				@include icon(before, chevron-left, false);
			}

			.ui-datepicker-next {
				@include icon(before, chevron-right, false);
			}
		}

		.ui-datepicker-calendar {
			width: 100%;
			border-spacing: 0;
			border-collapse: collapse;

			thead,
			tbody {

				tr {

					th, td {
						padding-right: #{map-get($calendar, padding) / 2};
						padding-left: #{map-get($calendar, padding) / 2};

						span, a {
							width: map-get($calendar, select-size);
							height: map-get($calendar, cell-size);
							display: block;
							margin: 0;
							padding: 0;
							text-align: center;
						}

						a {

							&,
							&:hover,
							&:active {
								text-decoration: none;
							}
						}

						&:first-child {
							padding-left: 0;
						}

						&:last-child {
							padding-right: 0;
						}
					}
				}
			}

			tbody {

				tr:last-child {

					th, td {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	// DESIGN: Default
	&.forminator-calendar--default {
		padding: #{map-get($calendar, padding) - map-get($border-width, default)};
		border-width: map-get($border-width, default);
		border-style: map-get($border-style, default);
		border-radius: map-get($border-radius, default);

		.ui-datepicker-header {
			margin: 0 0 map-get($calendar, padding);

			.ui-datepicker-title select {
				padding: 0 #{map-get($calendar, padding) - map-get($border-width, default)};
				border-width: map-get($border-width, default);
				border-style: map-get($border-style, default);
				border-radius: map-get($border-radius, default);
				line-height: #{map-get($calendar, select-size) - (map-get($border-width, default) * 2)};
			}

			.ui-datepicker-prev,
			.ui-datepicker-next {
				top: 0;
				border-radius: map-get($border-radius, default);
			}

			.ui-datepicker-prev {
				left: 0;
			}

			.ui-datepicker-next {
				right: 0;
			}
		}

		.ui-datepicker-calendar {

			thead,
			tbody {

				tr {

					th, td {

						span, a {
							border-radius: map-get($border-radius, default);
							line-height: #{map-get($calendar, cell-size) - (map-get($border-width, default) * 2)};
						}

						&.ui-datepicker-today {

							span, a {
								border-width: map-get($border-width, default);
								border-style: map-get($border-style, default);
							}
						}
					}
				}
			}
		}
	}

	// DESIGN: Flat
	&.forminator-calendar--flat {
		padding: map-get($calendar, padding);
		border-width: map-get($border-width, flat);
		border-style: map-get($border-style, flat);
		border-radius: map-get($border-radius, flat);

		.ui-datepicker-header {

			.ui-datepicker-prev,
			.ui-datepicker-next {
				top: 0;
			}

			.ui-datepicker-prev {
				left: 0;
			}

			.ui-datepicker-next {
				right: 0;
			}
		}
	}

	// DESIGN: Bold
	&.forminator-calendar--bold {
		padding: #{map-get($calendar, padding) - map-get($border-width, bold)};
		border-width: map-get($border-width, bold);
		border-style: map-get($border-style, bold);
		border-radius: map-get($border-radius, bold);

		.ui-datepicker-header {

			.ui-datepicker-prev,
			.ui-datepicker-next {
				top: 0;
			}

			.ui-datepicker-prev {
				left: 0;
			}

			.ui-datepicker-next {
				right: 0;
			}
		}

		.ui-datepicker-calendar {

			thead,
			tbody {

				tr {

					th, td {

						span, a {
							border-width: map-get($border-width, bold);
							border-style: map-get($border-style, bold);
							border-radius: 0;
						}
					}
				}
			}
		}
	}

	// DESIGN: Material
	&.forminator-calendar--material {}
}