@include body-class(custom-form, all, false) {

	.forminator-phone {
		display: block;

		.country-container {

			.selected-country {
				width: auto;
				display: flex;
				align-items: center;
				margin: 0;
				padding: 0 map-get($input, padding);

				.iti-country {
					display: block;
					position: relative;
					top: auto;
					bottom: auto;
					margin: 0;
					padding: 0;

					+ .iti-arrow {
						margin-left: #{calc(map-get($input, padding) / 2)};
					}
				}

				.iti-arrow {
					display: block;
					position: relative;
					top: auto;
					right: auto;
					margin: 0;
				}

				&:hover,
				&:focus,
				&:active {
					box-shadow: none;
				}
			}

			&:hover,
			&:focus,
			&:active {
				box-shadow: none;
			}
		}

		&:not(.allow-dropdown) {

			.country-container {
				pointer-events: none;
			}
		}
	}

	&[data-color-option="default"] {
		.forminator-phone {

			.country-container {

				.selected-country {

					&:hover,
					&:focus,
					&:active {
						outline: none;
					}
				}

				&:hover,
				&:focus,
				&:active {
					outline: none;
				}
			}
		}
	}
}

// =============================================
// DESIGN: Default
@include body-class(custom-form, default, false) {

	.forminator-phone {

		.country-container {
			padding: map-get($border-width, default);
		}

		&.allow-dropdown {

			.forminator-input {
				padding-left: #{($int-country-size + (map-get($input, padding) * 2)) + (map-get($input, padding) + map-get($border-width, default))};
			}
		}

		&:not(.allow-dropdown) {

			.forminator-input {
				padding-right: #{($int-country-size + (map-get($input, padding) * 2)) + (map-get($input, padding) + map-get($border-width, default))};
			}
		}
	}
}

// =============================================
// DESIGN: Flat
@include body-class(custom-form, flat, false) {

	.forminator-phone {

		.country-container {
			padding: map-get($border-width, flat);
		}

		&.allow-dropdown {

			.forminator-input {
				padding-left: #{($int-country-size + (map-get($input, padding) * 2)) + (map-get($input, padding) + map-get($border-width, flat))};
			}
		}

		&:not(.allow-dropdown) {

			.forminator-input {
				padding-right: #{($int-country-size + (map-get($input, padding) * 2)) + (map-get($input, padding) + map-get($border-width, flat))};
			}
		}
	}
}

// =============================================
// DESIGN: Bold
@include body-class(custom-form, bold, false) {

	.forminator-phone {

		.country-container {
			padding: map-get($border-width, bold);
		}

		&.allow-dropdown {

			.forminator-input {
				padding-left: #{($int-country-size + (map-get($input, padding) * 2)) + (map-get($input, padding) + map-get($border-width, bold))};
			}
		}

		&:not(.allow-dropdown) {

			.forminator-input {
				padding-right: #{($int-country-size + (map-get($input, padding) * 2)) + (map-get($input, padding) + map-get($border-width, bold))};
			}
		}
	}
}

// =============================================
// DESIGN: Material
@include body-class(custom-form, material, false) {}