@include body-class(custom-form, all, false) {

	.forminator-pagination-content {
		display: block;

		&, li {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none;

			&:before,
			&:after {
				content: unset;
			}
		}

		li {
			display: none;
			visibility: hidden;

			&:focus {
				box-shadow: none;
			}

			&.forminator-current {
				display: block;
				visibility: visible;
			}
		}
	}

	.forminator-pagination-footer {
		display: block;
		margin: $gutter-sm 0 0;

		.forminator-button {
			width: 100%;
			display: block;
			margin-right: 0;
			margin-bottom: $gutter-sm;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&[data-color-option="default"] {
		.forminator-pagination-content {
			li {
				&:focus {
					outline: none;
				}
			}
		}
	}
}

@include body-class(custom-form, all, true) {

	.forminator-pagination-footer {

		.forminator-button {

			&:last-child {

				@include media(min-width, sm) {
					margin-right: 0;
				}
			}

			@include media(min-width, sm) {
				width: auto;
				flex: 0 0 auto;
				margin-right: #{calc($gutter / 2)};
				margin-bottom: 0;
			}
		}

		@include media(min-width, sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: $gutter 0 0;
		}
	}
}