@include body-class(custom-form, all, false) {

	.forminator-select-container {
		display: block;
		margin: 0;

		.forminator-select-list {
			position: relative;
			display: block;

			.forminator-value {
				cursor: pointer;
				display: block;
				line-height: $select--line-height;
				transition: $transition--ease;
			}

			.forminator-dropdown-handle {
				width: $select--handle-size;
				height: $select--handle-size;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);

				[class*="forminator-icon-"] {
					display: block;
					font-size: $select--handle-icon;
					transition: $transition--linear;

					&:before {
						display: block;
						color: inherit;
					}
				}
			}

			.forminator-dropdown-list {
				width: 100%;
				max-height: $dropdown--height;
				overflow-x: hidden;
				overflow-y: auto;
				display: none;
				position: absolute;
				z-index: 10;
				top: 100%;
				left: 0;
				padding: #{$dropdown--padding / 2} 0;

				&, li {
					list-style: none;
				}

				li {
					cursor: pointer;
					display: block;
					margin: 0;
					border: 0;
					line-height: $dropdown--line-height;
					transition: $transition--ease;
				}
			}
		}

		// STATUS: Open
		&.forminator-is_open {

			.forminator-select-list {

				.forminator-dropdown-handle {

					[class*="forminator-icon-"] {
						transform: rotate(180deg);
					}
				}

				.forminator-dropdown-list {
					display: block;
				}
			}
		}
	}
}

// =============================================
// DESIGN: Default
@include body-class(custom-form, default, false) {

	.forminator-select-container {

		.forminator-select-list {

			.forminator-value {
				padding-top: #{($select--height - ($select--line-height + ($default--border-width * 2))) / 2};
				padding-right: #{$select--padding + $select--handle-size + ($select--padding - $default--border-width)};
				padding-bottom: #{($select--height - ($select--line-height + ($default--border-width * 2))) / 2};
				padding-left: #{$select--padding - $default--border-width};
				border-width: $default--border-width;
				border-style: $default--border-style;
				border-radius: $default--border-radius;
			}

			.forminator-dropdown-handle {
				right: $select--padding;
			}

			.forminator-dropdown-list {
				margin: -#{$default--border-width} 0 0;
				border-width: 0 $default--border-width $default--border-width $default--border-width;
				border-style: $default--border-style;
				border-bottom-right-radius: $default--border-radius;
				border-bottom-left-radius: $default--border-radius;

				li {
					padding: $dropdown--padding #{$dropdown--padding - ($default--border-width * 2)};
				}
			}
		}

		&.forminator-is_open {

			.forminator-select-list {

				.forminator-value {
					border-bottom-color: transparent !important;
					border-bottom-right-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}
}

// =============================================
// DESIGN: Flat
@include body-class(custom-form, flat, false) {

	.forminator-select-container {

		.forminator-select-list {

			.forminator-value {
				padding: $select--padding #{$select--handle-size + ($select--padding * 2)} $select--padding $select--padding;
				border: 0;
				border-radius: 0;
			}

			.forminator-dropdown-handle {
				right: $select--padding;
			}

			.forminator-dropdown-list {
				margin: 2px 0 0;

				li {
					padding: $dropdown--padding;
				}
			}
		}
	}
}

// =============================================
// DESIGN: Bold
@include body-class(custom-form, bold, false) {

	.forminator-select-container {

		.forminator-select-list {

			.forminator-value {
				padding-top: #{($select--height - ($select--line-height + ($bold--border-width * 2))) / 2};
				padding-right: #{$select--padding + $select--handle-size + ($select--padding - $bold--border-width)};
				padding-bottom: #{($select--height - ($select--line-height + ($bold--border-width * 2))) / 2};
				padding-left: #{$select--padding - $bold--border-width};
				border-width: $bold--border-width;
				border-style: $bold--border-style;
				border-radius: 0;
			}

			.forminator-dropdown-handle {
				right: $select--padding;
			}

			.forminator-dropdown-list {
				margin: -#{$bold--border-width} 0 0;
				border-width: 0 $bold--border-width $bold--border-width $bold--border-width;
				border-style: $bold--border-style;

				li {
					padding: $dropdown--padding #{$dropdown--padding - ($bold--border-width * 2)};
				}
			}
		}

		&.forminator-is_open {

			.forminator-select-list {

				.forminator-value {
					border-bottom-color: transparent !important;
				}
			}
		}
	}
}

// =============================================
// DESIGN: Material
@include body-class(custom-form, material, false) {

	.forminator-select-container {

		.forminator-select-list {

			.forminator-value {
				position: relative;
				padding-top: $select--padding;
				padding-right: #{$select--padding + $select--handle-size};
				padding-bottom: #{$select--padding - $material--border-width};
				padding-left: 0;
				border-width: 0 0 $material--border-width 0;
				border-style: $material--border-style;
				border-radius: 0;

				&:before {
					content: " ";
					height: 2px;
					display: block;
					position: absolute;
					right: 50%;
					bottom: -#{$material--border-width};
					left: 50%;
					box-sizing: border-box;
					transition: 0.2s linear;
				}
			}

			.forminator-dropdown-handle {
				right: 0;
			}

			.forminator-dropdown-list {
				margin: 4px 0 0;
				border: 0;
				border-radius: 0;
				box-shadow: $material--dropdown-shadow;

				li {
					padding: $dropdown--padding #{$dropdown--padding - ($default--border-width * 2)};
				}
			}
		}
	}

	.forminator-is_hover,
	.forminator-is_active {

		.forminator-select-container {

			.forminator-select-list {

				.forminator-value:before {
					right: 0;
					left: 0;
				}
			}
		}
	}
}