@include body-class(custom-form, all, false) {

	.forminator-textarea {
		width: 100%;
		min-height: $textarea--height;
		display: block;
		margin: 0;
		padding: 0;
		background-image: unset;
		line-height: $textarea--line-height;
		transition: $transition--ease;

		&,
		&:hover,
		&:focus,
		&:active,
		&:disabled {
			outline: none;
			box-shadow: none;
		}

		&:hover,
		&:focus,
		&:active {
			border-color: inherit;
			background-color: inherit;
		}

		&:disabled {
			pointer-events: none;
			border-style: dotted;

			&:-moz-placeholder {
				@include opacity(0.4);
			}

			&::-moz-placeholder {
				@include opacity(0.4);
			}

			&:-ms-input-placeholder {
				@include opacity(0.4);
			}

			&::-webkit-input-placeholder {
				@include opacity(0.4);
			}
		}
	}
}

// =============================================
// DESIGN: Default
@include body-class(custom-form, default, false) {

	.forminator-textarea {
		padding: #{$textarea--padding - $default--border-width};
		border-width: $default--border-width;
		border-style: $default--border-style;
		border-radius: $default--border-radius;
	}
}

// =============================================
// DESIGN: Flat
@include body-class(custom-form, flat, false) {

	.forminator-textarea {
		padding: $textarea--padding;
		border: 0;
		border-radius: 0;
	}
}

// =============================================
// DESIGN: Bold
@include body-class(custom-form, bold, false) {

	.forminator-textarea {
		padding: #{$textarea--padding - $bold--border-width};
		border-width: $bold--border-width;
		border-style: $bold--border-style;
		border-radius: 0;
	}
}

// =============================================
// DESIGN: Material
@include body-class(custom-form, material, false) {

	.forminator-textarea {
		padding: #{30px - $material--border-width} #{$input--padding - $material--border-width} #{$input--padding - $material--border-width};
		border-width: $material--border-width;
		border-style: $material--border-style;
		border-radius: $material--border-radius;
	}

	.forminator-textarea--wrap {
		position: relative;

		&:after {
			content: " ";
			width: 100%;
			height: 100%;
			user-select: none;
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			border-width: #{$material--border-width * 2};
			border-style: $material--border-style;
			border-radius: $material--border-radius;
			box-sizing: border-box;
			@include opacity(0);
			transition: $transition--ease;
		}
	}

	.forminator-field {

		&.forminator-is_hover,
		&.forminator-is_active,
		&.forminator-has_error {

			.forminator-textarea--wrap:after {
				@include opacity(1);
			}
		}
	}
}