@include body-class(custom-form, all, false) {}

@include body-class(custom-form, all, true) {

	.forminator-timepicker {

		.forminator-row {

			@include media(min-width, sm) {
				align-items: flex-end;
			}
		}
	}

	.forminator-col {

		&:not(.forminator-col-3):not(.forminator-col-4) {

			.forminator-timepicker,
			.forminator-date-input {

				.forminator-error-message {

					@include media(min-width, sm) {
						display: none;
					}
				}

				~ .forminator-error-message {

					@include media(min-width, sm) {
						display: block;
					}
				}
			}
		}
	}
}