@include body-class(true) {

	.showcase-banner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #17A8E3;
		text-align: center;

		h1, h2 {
			color: $white;
		}

		h1 {

			@include media(max-width, md) {
				font-size: 35px;
				line-height: 40px;
			}

			@include media(min-width, md) {
				font-size: 55px;
				line-height: 60px;
			}
		}

		h2 {
			font-weight: 300;

			@include media(max-width, md) {
				font-size: 18px;
				line-height: 20px;
			}

			@include media(min-width, md) {
				font-size: 24px;
				line-height: 32px;
			}
		}

		img {
			height: auto;
			display: block;
			margin: 0 auto;

			&:not(:first-child) {

				@include media(max-width, md) {
					margin-top: $sui-gutter-md;
				}

				@include media(min-width, md) {
					margin-top: $sui-gutter;
				}
			}

			&:not(:last-child) {

				@include media(max-width, md) {
					margin-bottom: $sui-gutter-md;
				}

				@include media(min-width, md) {
					margin-bottom: $sui-gutter;
				}
			}

			@include media(max-width, md) {
				width: 100px;
			}

			@include media(min-width, md) {
				width: 140px;
			}
		}

		.showcase-cta-block {

			@include media(max-width, md) {
				margin-top: $sui-gutter-md;
			}

			@include media(min-width, md) {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: $sui-gutter;
			}
		}

		@include media(max-width, md) {
			min-height: 200px;
			margin: 0 -#{$sui-gutter-md};
			padding: #{$sui-gutter-md * 2} $sui-gutter-md;
		}

		@include media(min-width, md) {
			min-height: 300px;
			margin: 0 -#{$sui-gutter};
			padding: #{$sui-gutter * 2} $sui-gutter;
		}
	}
}