@include body-class(true) {

	// ELEMENT: Icon button
	.sui-button-icon {

		&.sui-button-white {
			color: $white;
		}
	}

	// ELEMENT: Square showcase button
	.showcase-button-sample {
		width: 100%;
		cursor: pointer;
		display: block;
		margin: 0;
		padding: 0;
		border: 0;
		border-radius: 0;

		span {
			display: block;
		}

		.title {
			background-color: palette(silver, default);
			color: palette(gray, dark);
			font: bold 12px/20px $font;
			letter-spacing: 0;
			text-transform: uppercase;

			@include media(max-width, md) {
				padding: #{$sui-gutter-md / 2} $sui-gutter-md;
			}

			@include media(min-width, md) {
				padding: #{$sui-gutter / 2} $sui-gutter;
			}
		}

		.image {
			height: 160px;
			background-color: palette(silver, light);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		&,
		&:hover,
		&:active {
			outline: none;
			box-shadow: none;
		}

		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
			pointer-events: none;
		}
	}
}