@include body-class(true) {

	.showcase-header {
		width: 100%;
		height: auto;
		display: block;
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		border: 0;

		.sui-tag,
		.sui-button-icon {
			flex: 0 0 auto;
		}

		.showcase-topbar {
			height: 60px;
			display: flex;
			align-items: center;
			padding: 10px $page-gutter;
			background-color: #17A8E3;

			ul {
				display: flex;
				flex: 1;
				align-items: center;
				margin: 0;

				&, li {
					padding: 0;
					border: 0;
					list-style: none;
				}

				li {
					display: block;
					margin: 0 5px;
					line-height: 30px;

					a {
						display: block;
						padding: 0 10px;
						border-radius: $border-radius;
						transition: $transition;

						&,
						&:hover,
						&:active,
						&:visited {
							color: $white;

							[class*="sui-icon-"] {
								font-size: 16px;

								&:before {
									color: inherit;
								}
							}
						}

						&:hover,
						&:active {
							background-color: rgba(255, 255, 255, 0.2);
						}
					}

					&.current {

						a {
							pointer-events: none;
							background-color: rgba(255, 255, 255, 0.2);
						}
					}

					&:first-child {
						margin-left: 0;
					}

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		+ .showcase-content {
			padding-top: #{$page-gutter + 60px};
		}
	}
}