@include body-class(true) {

	&.showcase-wrap {
		display: block;
		position: relative;
		margin: 0;

		.showcase-content {
			width: 100%;
			max-width: $page-size;
			display: block;
			margin: 0 auto;
			padding: $page-gutter 0;
		}

		@include media(max-width, md) {
			padding: 0 $sui-gutter-md $sui-gutter-md;
		}

		@include media(min-width, md) {
			padding: 0 $sui-gutter $sui-gutter;
		}
	}
}