@include body-class() {

	.showcase-content {

		#showcase-custom-grid {
			padding-left: 20px;
		}

		.showcase-sample-field {
			display: block;
			border-radius: $border-radius;
			background-color: palette(silver, soft);
			color: palette(gray, dark);
			font-size: 13px;
			line-height: 20px;
			font-weight: 500;
			text-align: center;

			@include media(max-width, md) {
				padding: #{$sui-gutter-md / 2} 5px;
			}

			@include media(min-width, md) {
				padding: #{$sui-gutter / 2} 5px;
			}
		}
	}
}