@include body-class() {

	.showcase-section {
		border-bottom: 1px solid palette(silver, soft);

		.showcase-title {

			@include media(min-width, md) {
				margin: 0 0 #{$sui-gutter-md / 2};
				padding: 0 0 #{$sui-gutter-md / 2};
			}

			@include media(min-width, md) {
				margin: 0 0 #{$sui-gutter / 2};
				padding: 0 0 #{$sui-gutter / 2};
			}
		}

		@include media(min-width, md) {
			margin: 0 0 $sui-gutter-md;
			padding: 0 0 $sui-gutter-md;
		}

		@include media(min-width, md) {
			margin: 0 0 $sui-gutter;
			padding: 0 0 $sui-gutter;
		}
	}
}