@include body-class(true) {

	.showcase-title {
		line-height: 26px;

		.sui-tag {
			vertical-align: middle;
		}
	}

	.showcase-label {
		color: palette(gray, dark);
		font: 500 15px/22px $font;
		letter-spacing: $font--letter-spacing;
	}
}