@include body-class(custom-form) {

	.forminator-input {
		width: 100%;
		height: $input--height;
		display: block;
		margin: 0;
		padding: 0;
		background-image: unset;
		line-height: $input--line-height;
		transition: $transition--ease;
	
		&,
		&:hover,
		&:focus,
		&:active,
		&:disabled {
			outline: none;
			box-shadow: none;
		}

		&:hover,
		&:focus,
		&:active {
			border-color: inherit;
			background-color: inherit;
		}
	
		&:disabled {
			pointer-events: none;
			border-style: dotted;
	
			&:-moz-placeholder {
				@include opacity(0.4);
			}
		
			&::-moz-placeholder {
				@include opacity(0.4);
			}
	
			&:-ms-input-placeholder {
				@include opacity(0.4);
			}
	
			&::-webkit-input-placeholder {
				@include opacity(0.4);
			}
		}
	}
}

// =============================================
// DESIGN: Default
@include body-class(custom-form, default) {

	.forminator-input {
		padding: #{($input--height - ($default--border-width * 2) - $input--line-height) / 2} #{$input--padding - $default--border-width};
		border-width: $default--border-width;
		border-style: $default--border-style;
		border-radius: $default--border-radius;
	}
}

// =============================================
// DESIGN: Flat
@include body-class(custom-form, flat) {

	.forminator-input {
		padding: #{($input--height - $input--line-height) / 2} $input--padding;
		border: 0;
		border-radius: 0;
	}
}

// =============================================
// DESIGN: Bold
@include body-class(custom-form, bold) {

	.forminator-input {
		padding: #{($input--height - ($bold--border-width * 2) - $input--line-height) / 2} 7px;
		border-width: $bold--border-width;
		border-style: $bold--border-style;
		border-radius: 0;
	}
}

// =============================================
// DESIGN: Material
@include body-class(custom-form, material) {

	.forminator-input {
		padding: $input--padding 0 #{$input--padding - $material--border-width};
		border-width: 0;
		border-bottom-width: $material--border-width;
		border-style: $material--border-style;
		background-color: transparent;
	}

	.forminator-input--wrap {
		display: block;
		position: relative;

		&:after {
			content: " ";
			height: 2px;
			display: block;
			position: absolute;
			right: 50%;
			bottom: 0;
			left: 50%;
			box-sizing: border-box;
			transition: 0.2s linear;
		}
	}

	.forminator-field {

		&.forminator-is_hover,
		&.forminator-is_active,
		&.forminator-has_error {

			.forminator-input--wrap:after {
				right: 0;
				left: 0;
			}
		}
	}
}