@mixin container-form($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {
		width: 100%;
		margin: $gutter 0;
		box-sizing: border-box;
		@extend %text-reset;

		.forminator-field {
			margin: 0;
			padding: 0;
			border: 0;

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@include form-class($form-type, $form-theme, true) {

		&:first-child {

			@include media(min-width, sm) {
				margin-top: 0;
			}
		}

		&:last-child {

			@include media(min-width, sm) {
				margin-bottom: 0;
			}
		}

		// STATE: Disabled.
		&.forminator-fields-disabled {

			> .forminator-pagination > *,
			> *:not(.forminator-response-message):not(.forminator-pagination) {
				@include opacity(0.5);
				pointer-events: none;

				* {
					pointer-events: none;
				}
			}
		}

		@include media(min-width, sm) {
			margin: $gutter 0;
		}
	}
}