@mixin component-button($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-button {
			width: auto;
			@if ('default' == $form-theme) {
				min-width: 100px;
			}
			@if ('flat' == $form-theme) {
				min-width: 100px;
			}
			@if ('bold' == $form-theme) {
				min-width: 120px;
			}
			@if ('material' == $form-theme) {
				min-width: 100px;
			}
			max-width: unset;
			height: auto;
			min-height: unset;
			max-height: unset;
			cursor: pointer;
			@if ('material' == $form-theme) {
				overflow: hidden;
			}
			display: inline-block;
			position: relative;
			@if ('material' == $form-theme) {
				z-index: 1;
			}
			margin: 0 10px 0 0;
			@if ('default' == $form-theme) {
				padding: 10px;
				border: 0;
				border-radius: map-get($border-radius, default);
			}
			@if ('flat' == $form-theme) {
				padding: 10px;
				border: 0;
				border-radius: map-get($border-radius, flat);
			}
			@if ('bold' == $form-theme) {
				padding: 13px 15px;
				border: 0;
				border-radius: map-get($border-radius, bold);
			}
			@if ('material' == $form-theme) {
				padding: 10px;
				border: 0;
				border-radius: map-get($border-radius, material);
				box-shadow: none;
			}
			background-image: unset;
			line-height: map-get($button, line-height);
			text-align: center;
			transition: $transition--ease;

			span {
				display: block;
				transition: $transition--ease;

				@if ('material' == $form-theme) {

					&[aria-hidden]:not([class*="forminator-icon-"]) {
						width: 0;
						position: absolute;
						z-index: 1;
						top: 50%;
						left: 50%;
						padding: 0;
						border-radius: 100%;
						background-color: rgba(0,0,0,0.12);
						transform: translate(-50%, -50%);
						transition: width 450ms cubic-bezier(0.23, 1, 0.32, 1), .2s ease-out;
					}

					&:not([aria-hidden]):not([class*="forminator-icon-"]) {
						position: relative;
						z-index: 2;
					}
				}
			}

			.forminator-icon-loader {
				@include opacity(0);
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				transition: $transition--ease;

				&:before {
					display: block;
				}
			}

			@if ('material' == $form-theme) {

				&,
				&:hover,
				&:focus,
				&:active {
					outline: none;
					text-decoration: none;
				}
			}

			@else {

				&,
				&:hover,
				&:focus,
				&:active {
					outline: none;
					box-shadow: none;
					text-decoration: none;
				}

				&:hover,
				&:focus,
				&:active {
					box-shadow: 0 1px 4px 0 rgba(0,0,0,0.6);
				}

				&:active {

					span[aria-hidden]:not([class*="forminator-icon-"]) {
						width: 120%;
						padding: 120% 0 0;
					}
				}
			}

			&:disabled,
			&.forminator-onload,
			&.forminator-disabled {
				@include opacity(0.5);
				user-select: none;
				pointer-events: none;
			}

			&.forminator-onload {

				span {
					@include opacity(0);
				}

				.forminator-icon-loader {
					@include opacity(1);
				}
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}