@mixin component-description($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-description,
		.forminator-error-message {
			margin: 5px 0 0;
		}

		.forminator-description {
			display: flex;
			line-height: 1.5em;

			span {
				min-width: 80px;
				margin-right: 0;
				margin-left: auto;
				text-align: right;
			}
		}

		.forminator-error-message {
			display: none;
			@if ('default' == $form-theme) {
				padding: 2px 10px;
				border-radius: map-get($border-radius, default);
			}
			@if ('flat' == $form-theme) {
				padding: 2px 10px;
				border-radius: map-get($border-radius, flat);
			}
			@if ('bold' == $form-theme) {
				padding: 2px 10px;
				border-radius: map-get($border-radius, bold);
			}
			line-height: 2em;
		}

		.forminator-has_error {

			.forminator-error-message {
				display: block;
			}
		}
	}
}