@mixin component-description($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-description,
		.forminator-error-message {
			margin: 5px 0 0;
		}

		.forminator-label {
			+ .forminator-description {
				margin: 0 0 5px;
			}
		} 

		.forminator-description {
			display: block;
			
			&:first-child {
				margin: 0 0 5px;
			}

			@if ('basic' != $form-theme) {
				line-height: 1.5em;
			}

			span:not(.forminator-monospace) {
				min-width: 80px;
				margin-right: 0;
				margin-left: auto;
				text-align: right;
			}

			.forminator-monospace {
				font-family: monospace;
			}

			> a {
				margin: 0 2px;
			}

			&.forminator-repeater-description {
				margin: 0 0 10px;
			}
		}



		.forminator-error-message {
			display: none;
			@if ('default' == $form-theme) {
				padding: 2px 10px;
				border-radius: map-get($border-radius, default);
			}
			@if ('flat' == $form-theme) {
				padding: 2px 10px;
				border-radius: map-get($border-radius, flat);
			}
			@if ('bold' == $form-theme) {
				padding: 2px 10px;
				border-radius: map-get($border-radius, bold);
			}
			@if ('basic' == $form-theme) {
				padding: 2px 10px;
			}
			@if ('basic' != $form-theme) {
				line-height: 2em;
			}
		}

		.forminator-has_error {

			.forminator-error-message {
				display: block;
			}
		}
	}
}