@mixin component-input-with-suffix($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-input-with-suffix {
			position: relative;
			@if ('material' == $form-theme) {
				display: flex;
				align-items: center;
			}

			.forminator-input {
				padding-right: 60px;
			}

			.forminator-suffix {
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				padding: 0 map-get($input, padding);
				transform: translateY(-50%);
				line-height: 1.4em;
			}

			@if ('material' == $form-theme) {

				.forminator-input--wrap {
					display: block;
					flex: 1;
				}
			}
		}
	}

	// =============================================
	// RTL Support
	// =============================================
	@include form-class($form-type, $form-theme, false, true) {
		
		.forminator-input-with-suffix {

			.forminator-input {
				padding-left: 60px;
				padding-right: map-get($input, padding);
			}

			.forminator-suffix {
				left: 0;
				right: auto;
			}
		}

	}
}