@mixin component-label($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-label {
			cursor: default;
			display: block;
			margin: 0;
			border: 0;
			@if ('material' == $form-theme) {
				line-height: 20px;
			}
			@else {
				line-height: 1.7em;
			}

			&[for] {
				cursor: pointer;
			}
		}
	}
}