@mixin component-label($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-label {
			cursor: default;
			display: block;
			@if ('material' == $form-theme) {
				line-height: 20px;
			} @else if ('basic' != $form-theme) {
				line-height: 1.7em;
				margin: 0;
				border: 0;
			} @else if ('basic' == $form-theme) {
				margin-bottom: 10px;
			}
			&[for] {
				cursor: pointer;
			}
		}
	}
}