@mixin component-paypal($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-button-paypal {
			display: block;
			position: relative;
			z-index: 1;
			width: 100%;
			order: 1;
			flex: unset !important;
			margin-bottom: 20px;

			> .paypal-buttons {
				display: block !important;

				> iframe {
					width: 100% !important;
				}
			}
		}
	}
}