@mixin component-questions($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-question {

			.forminator-legend {
				display: block;
				padding: 0;
				border: 0;
				line-height: 1.5em;
			}

			.forminator-image {
				width: 100%;
				display: block;
				margin: 0;
				padding: 0;
				border: 0;

				img {
					width: auto;
					max-width: 100%;
					height: auto;
					display: block;
					margin: 0;
					padding: 0;
					border: 0;
				}
			}

			.forminator-question--result {
				display: none;
				line-height: 1.9em;

				&.forminator-show {
					display: block;
				}
			}

			&:not(.forminator-last) {

				&:after {
					content: " ";
					width: 100%;
					height: 1px;
					display: block;
					flex: 0 0 auto;
				}
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		// SPACING: Default.
		&[data-spacing="default"] {

			.forminator-question {

				&:not(.forminator-last) {
					margin-bottom: $gutter-sm;

					&:after {
						margin-top: $gutter-sm;
					}
				}
			}

			.forminator-legend,
			.forminator-image,
			.forminator-question--description {
				margin: 0 0 #{calc($gutter-sm / 2)};
			}

			.forminator-answer {
				margin-top: #{calc($gutter-sm / 2)};
			}

			.forminator-question--result {
				margin: #{calc($gutter-sm / 2)} 0 0;
			}

			.forminator-quiz--result,
			.forminator-quiz--social {
				margin-top: $gutter-sm;
				padding-top: $gutter-sm;
			}
		}

		// SPACING: Enclosed.
		&[data-spacing="enclosed"] {

			.forminator-question {

				&:not(.forminator-last) {
					margin-bottom: $gutter-enclosed-sm;

					&:after {
						margin-top: $gutter-enclosed-sm;
					}
				}
			}

			.forminator-legend,
			.forminator-image,
			.forminator-question--description {
				margin: 0 0 #{calc(calc($gutter-enclosed-sm / 2))};
			}

			.forminator-answer {
				margin-top: #{calc(calc($gutter-enclosed-sm / 2))};
			}

			.forminator-question--result {
				margin: #{calc(calc($gutter-enclosed-sm / 2))} 0 0;
			}

			.forminator-quiz--result,
			.forminator-quiz--social {
				margin-top: $gutter-enclosed-sm;
				padding-top: $gutter-enclosed-sm;
			}
		}

		// ALIGNMENT: Center.
		&[data-alignment="center"] {

			.forminator-legend {
				text-align: center;
			}

			.forminator-image {

				img {
					margin-right: auto;
					margin-left: auto;
				}
			}

			.forminator-question--result {
				text-align: center;
			}
		}

		// ALIGNMENT: Right.
		&[data-alignment="right"] {

			.forminator-legend {
				text-align: right;
			}

			.forminator-image {

				img {
					margin-right: 0;
					margin-left: auto;
				}
			}

			.forminator-question--result {
				text-align: right;
			}
		}
	}

	@include form-class($form-type, $form-theme, true) {

		// LAYOUT: List.
		&.forminator-quiz--list {

			// SPACING: Default.
			&[data-spacing="default"] {

				.forminator-question {

					&:not(.forminator-last) {

						&:after {

							@include media(min-width, sm) {
								margin-top: $gutter;
							}
						}

						@include media(min-width, sm) {
							margin-bottom: $gutter;
						}
					}
				}

				.forminator-legend,
				.forminator-image,
				.forminator-question--description {

					@include media(min-width, sm) {
						margin-bottom: #{calc($gutter / 2)};
					}
				}

				.forminator-answer {

					@include media(min-width, sm) {
						margin-top: #{calc($gutter / 2)};
					}
				}

				.forminator-question--result {

					@include media(min-width, sm) {
						margin-top: #{calc($gutter / 2)};
					}
				}

				.forminator-quiz--result,
				.forminator-quiz--social {

					@include media(min-width, sm) {
						margin-top: $gutter;
						padding-top: $gutter;
					}
				}
			}

			// SPACING: Enclosed.
			&[data-spacing="enclosed"] {

				.forminator-question {

					&:not(.forminator-last) {

						&:after {

							@include media(min-width, sm) {
								margin-top: $gutter-enclosed;
							}
						}

						@include media(min-width, sm) {
							margin-bottom: $gutter-enclosed;
						}
					}
				}

				.forminator-legend,
				.forminator-image,
				.forminator-question--description {

					@include media(min-width, sm) {
						margin-bottom: #{calc($gutter-enclosed / 2)};
					}
				}

				.forminator-answer {

					@include media(min-width, sm) {
						margin-top: #{calc($gutter-enclosed / 2)};
					}
				}

				.forminator-question--result {

					@include media(min-width, sm) {
						margin-top: #{calc($gutter-enclosed / 2)};
					}
				}

				.forminator-quiz--result,
				.forminator-quiz--social {

					@include media(min-width, sm) {
						margin-top: $gutter-enclosed;
						padding-top: $gutter-enclosed;
					}
				}
			}
		}

		// LAYOUT: Grid.
	&.forminator-quiz--grid {

		.forminator-question {

			&:not(.forminator-last) {

				&:after {

					@include media(min-width, sm) {
						width: auto;
						flex: 1 1 100%;
					}
				}
			}

			@include media(min-width, sm) {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row;
			}
		}

		.forminator-legend,
		.forminator-image,
		.forminator-question--description {

			@include media(min-width, sm) {
				flex: 0 0 100%;
				margin-bottom: 0;
			}
		}

		.forminator-question--result {

			@include media(min-width, sm) {
				flex: 0 0 100%;
			}
		}

		@for $i from 2 through 6 {

			&[data-columns="#{$i}"] {

				.forminator-answer {

					@include media(min-width, sm) {
						flex: 0 0 #{calc(100% / $i)};
					}
				}
			}
		}

		// ALIGNMENT: Center.
		&[data-alignment="center"] {

			.forminator-question {

				@include media(min-width, sm) {
					justify-content: center;
				}
			}
		}

		// ALIGNMENT: Right.
		&[data-alignment="right"] {

			.forminator-question {

				@include media(min-width, sm) {
					justify-content: flex-end;
				}
			}
		}

		// SPACING: Default.
		&[data-spacing="default"] {

			.forminator-question {

				&:not(.forminator-last) {

					&:after {

						@include media(min-width, sm) {
							margin-top: $gutter;
							margin-right: #{calc($gutter / 4)};
							margin-left: #{calc($gutter / 4)};
						}
					}

					@include media(min-width, sm) {
						margin-bottom: $gutter;
					}
				}

				@include media(min-width, sm) {
					margin-right: -#{calc($gutter / 4)};
					margin-left: -#{calc($gutter / 4)};
				}
			}

			.forminator-legend,
			.forminator-image,
			.forminator-question--description {

				@include media(min-width, sm) {
					padding: 0 #{calc($gutter / 4)};
				}
			}

			.forminator-answer {

				@include media(min-width, sm) {
					margin-top: #{calc($gutter / 2)};
					padding: 0 #{calc($gutter / 4)};
				}
			}

			.forminator-question--result {

				@include media(min-width, sm) {
					margin-top: #{calc($gutter / 2)};
					padding: 0 #{calc($gutter / 4)};
				}
			}

			.forminator-quiz--result,
			.forminator-quiz--social {

				@include media(min-width, sm) {
					margin-top: $gutter;
					padding-top: $gutter;
				}
			}
		}

		// SPACING: Enclosed.
		&[data-spacing="enclosed"] {

			.forminator-question {

				&:not(.forminator-last) {

					&:after {

						@include media(min-width, sm) {
							margin-top: $gutter-enclosed;
							margin-right: #{calc($gutter-enclosed / 4)};
							margin-left: #{calc($gutter-enclosed / 4)};
						}
					}

					@include media(min-width, sm) {
						margin-bottom: $gutter-enclosed;
					}
				}

				@include media(min-width, sm) {
					margin-right: -#{calc($gutter-enclosed / 4)};
					margin-left: -#{calc($gutter-enclosed / 4)};
				}
			}

			.forminator-legend,
			.forminator-image,
			.forminator-question--description {

				@include media(min-width, sm) {
					padding: 0 #{calc($gutter-enclosed / 4)};
				}
			}

			.forminator-answer {

				@include media(min-width, sm) {
					margin-top: #{calc($gutter-enclosed / 2)};
					padding: 0 #{calc($gutter-enclosed / 4)};
				}
			}

			.forminator-question--result {

				@include media(min-width, sm) {
					margin-top: #{calc($gutter-enclosed / 2)};
					padding: 0 #{calc($gutter-enclosed / 4)};
				}
			}

			.forminator-quiz--result,
			.forminator-quiz--social {

				@include media(min-width, sm) {
					margin-top: $gutter-enclosed;
					padding-top: $gutter-enclosed;
				}
			}
		}
	}
	}
}