@mixin component-rating($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-rating {
			@extend %screen-readers;
		}

		.forminator-rating-wrapper {
			display: flex;
			gap: 10px;
			align-items: center;

			&.forminator-rating-focused {
				.forminator-rating-items {
					border: 1px solid #17a8e3;
				}
			}
			
			.forminator-rating-items {
				display: flex;
				flex-wrap: wrap;
				gap: 10px;
				border: 1px solid transparent;

				&.forminator-rating-md {
					font-size: 24px;
				}

				&.forminator-rating-lg {
					font-size: 32px;
				}

				&.forminator-rating-sm {
					font-size: 16px;
				}			
			}

			.forminator-rating-suffix {
				display: block;
				font-size: 13px;
				line-height: 32px;
				letter-spacing: -0.25px;
				color: #888;
			}

			.forminator-rating-item {
				cursor: pointer;
				transition: ease color 0.2s;

				[class*=forminator-icon-] {
					&:before {
						color: #aaa;
					}
				}

				&.forminator-rating-hover,
				&.forminator-rating-selected {
					[class*=forminator-icon-] {
						&:before {
							color: #FF7E41;
						}
					}
				}
			}
		}
	}
}