@mixin component-recaptcha($form-type: no-type, $form-theme: no-theme) {
    
    @include form-class($form-type, $form-theme, false) {

		.forminator-field-captcha {
			overflow: hidden;
		}

        .forminator-g-recaptcha:not(.recaptcha-invisible) {

            .grecaptcha-badge {
                visibility: visible;
            }

            > div {
                width: 100% !important;
            }

            iframe {
                max-width: 100%;
                max-height: 100% !important;
            }
        }

        // captcha alignment
        .forminator-captcha-left {
            text-align: left;

            > div {
                margin-right: auto;
            }
        }

        .forminator-captcha-right {
            text-align: right;

            > div {
                margin-left: auto;
            }
        }

        .forminator-captcha-center {
            text-align: center;

            > div {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}