@mixin component-results($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-quiz--result {

			.forminator-result {
				@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
					display: block;
					padding: #{$gutter-sm / 2};
				}
				@if $form-theme == 'default' {
					border-width: map-get($border-width, default);
					border-style: map-get($border-style, default);
					border-radius: map-get($border-radius, default);
				} @else if $form-theme == 'flat' {
					border-width: map-get($border-width, flat);
					border-style: map-get($border-style, flat);
					border-radius: map-get($border-radius, flat);
				} @else if $form-theme == 'bold' {
					border-width: map-get($border-width, bold);
					border-style: map-get($border-style, bold);
					border-radius: map-get($border-radius, bold);
				} @else if $form-theme == 'material' {
					border-radius: map-get($material, border-radius);
					box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
				}

				@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {

					.forminator-result--info {
						display: flex;
						flex-direction: row-reverse;
						align-items: center;
						justify-content: flex-end;
						text-align: left;

						// .forminator-result--quiz-name {
						// 	min-width: 1px;
						// 	display: block;
						// 	flex: 0 1 auto;
						// 	margin-left: #{$gutter-sm / 2};
						// 	line-height: 1.75em;
						// }

						+ .forminator-result--content {
							margin-top: #{$gutter-sm / 2};
						}
					}
				} @else if $form-theme == 'material' {

					.forminator-result--image {
						width: 100%;
						max-width: 100%;
						height: auto;
						display: block;
						border-top-left-radius: map-get($material, border-radius);
						border-top-right-radius: map-get($material, border-radius);
					}
				}

				.forminator-result--content {
					@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
						display: block;
						text-align: left;
					} @else if $form-theme == 'material' {
						padding: #{$gutter-sm / 2};
						text-align: left;
					}

					@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {

						.forminator-result--text {
							padding: #{$gutter-sm / 2};

							.forminator-result--title {
								margin: 0;
								padding: 0;
								line-height: 1.5em;

								+ .forminator-result--description {
									margin-top: #{$gutter-sm / 2};
								}
							}

							.forminator-result--description {
								margin: 0;
								padding: 0;

								&, p {
									line-height: 1.75em;
								}

								p {
									margin: 0;
									padding: 0;
									border: 0;

									&:not(:last-child) {
										margin-bottom: #{$gutter-sm / 2};
									}
								}
							}

							+ .forminator-result--image {
								margin-top: #{$gutter-sm / 2};
							}
						}

						.forminator-result--image {
							width: auto;
							max-width: 100%;
							min-width: 1px;
							height: auto;
							display: block;
							flex: 0 1 auto;
							margin: 0;
							padding: 0;
							border: 0;
							background-size: cover;
							background-repeat: no-repeat;
							background-position: center;

							img {
								width: 100%;
								height: auto;
								display: block;
							}
						}
					} @else if $form-theme == 'material' {

						hr {
							width: 100%;
							min-width: 100%;
							max-width: 100%;
							height: 2px;
							display: block;
							margin: #{$gutter-sm / 2} 0;
							padding: 0;
							border: 0;
							background-color: rgba(0,0,0,0.1);
						}

						.forminator-result--title {
							margin: 0;
							padding: 0;
							border: 0;
							line-height: 1.5em;

							+ .forminator-result--description {
								margin-top: #{$gutter-sm / 2};
							}
						}

						.forminator-result--description {
							margin: 0;
							padding: 0;

							&, p {
								line-height: 1.75em;
							}

							p {
								margin: 0;
								padding: 0;
								border: 0;

								&:not(:last-child) {
									margin-bottom: #{$gutter-sm / 2};
								}
							}
						}
					}

					+ .forminator-quiz--action-buttons {
						@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
							margin-top: #{$gutter-sm / 2};
						} @else if $form-theme == 'material' {
							margin-top: $gutter;
						}
					}
				}
			}
		}
	}

	@include form-class($form-type, $form-theme, true) {

		.forminator-quiz--result {

			.forminator-result {

				.forminator-result--info {

					.forminator-result--quiz-name {

						@include media(min-width, sm) {

							@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
								flex: 1;
								margin-right: #{$gutter-sm / 2};
								margin-left: 0;
							}
						}
					}

					@include media(min-width, sm) {

						@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
							flex-direction: row;
							justify-content: flex-start;
						}
					}
				}

				.forminator-result--content {

					.forminator-result--text {

						+ .forminator-result--image {

							@include media(min-width, sm) {

								@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
									margin-top: 0;
									margin-left: #{$gutter-sm / 2};
								}
							}
						}

						@include media(min-width, sm) {

							@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
								min-width: 1px;
								flex: 1;
							}
						}
					}

					.forminator-result--image {

						img {

							@include media(min-width, sm) {

								@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
									@include opacity(0);
								}
							}
						}

						@include media(min-width, sm) {

							@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
								width: auto;
								min-width: 1px;
								max-width: 50%;
								flex: 0 1 auto;
							}
						}
					}

					@include media(min-width, sm) {

						@if $form-theme == 'default' or $form-theme == 'flat' or $form-theme == 'bold' {
							display: flex;
						}
					}
				}
			}
		}
	}
}