@mixin component-select($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-select-container {
			display: block;
			margin: 0;

			.forminator-select-list {
				position: relative;
				display: block;

				.forminator-value {
					cursor: pointer;
					display: block;
					@if ('default' == $form-theme) {
						padding-top: #{($select--height - ($select--line-height + ($default--border-width * 2))) / 2};
						padding-right: #{$select--padding + $select--handle-size + ($select--padding - $default--border-width)};
						padding-bottom: #{($select--height - ($select--line-height + ($default--border-width * 2))) / 2};
						padding-left: #{$select--padding - $default--border-width};
						border-width: $default--border-width;
						border-style: $default--border-style;
						border-radius: $default--border-radius;
					}
					@if ('flat' == $form-theme) {
						padding: $select--padding #{$select--handle-size + ($select--padding * 2)} $select--padding $select--padding;
						border: 0;
						border-radius: 0;
					}
					@if ('bold' == $form-theme) {
						padding-top: #{($select--height - ($select--line-height + ($bold--border-width * 2))) / 2};
						padding-right: #{$select--padding + $select--handle-size + ($select--padding - $bold--border-width)};
						padding-bottom: #{($select--height - ($select--line-height + ($bold--border-width * 2))) / 2};
						padding-left: #{$select--padding - $bold--border-width};
						border-width: $bold--border-width;
						border-style: $bold--border-style;
						border-radius: 0;
					}
					@if ('material' == $form-theme) {
						position: relative;
						padding-top: $select--padding;
						padding-right: #{$select--padding + $select--handle-size};
						padding-bottom: $select--padding;
						padding-left: 0;
						border-width: 0;
						border-style: none;
						border-radius: 0;
						box-shadow: inset 0 -#{$material--border-width} 0 0 transparent;
						line-height: 1.3em;
					}
					@else {
						line-height: $select--line-height;
					}
					@extend %text-truncate;
					transition: $transition--ease;

					@if ('material' == $form-theme) {

						&:before {
							content: " ";
							height: 2px;
							display: block;
							position: absolute;
							z-index: 1;
							right: 50%;
							bottom: 0;
							left: 50%;
							box-sizing: border-box;
							transition: 0.2s linear;
						}
					}
				}

				.forminator-dropdown-handle {
					width: $select--handle-size;
					height: $select--handle-size;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					position: absolute;
					top: 50%;
					@if ('default' == $form-theme) {
						right: $select--padding;
					}
					@if ('flat' == $form-theme) {
						right: $select--padding;
					}
					@if ('bold' == $form-theme) {
						right: $select--padding;
					}
					@if ('material' == $form-theme) {
						right: 0;
					}
					transform: translateY(-50%);

					[class*="forminator-icon-"] {
						display: block;
						font-size: $select--handle-icon;
						transition: $transition--linear;

						&:before {
							display: block;
							color: inherit;
						}
					}
				}

				.forminator-dropdown-list {
					width: 100%;
					max-height: $dropdown--height;
					overflow-x: hidden;
					overflow-y: auto;
					display: none;
					position: absolute;
					z-index: 10;
					top: 100%;
					left: 0;
					@if ('default' == $form-theme) {
						margin: -#{$default--border-width} 0 0;
					}
					@if ('flat' == $form-theme) {
						margin: 2px 0 0;
					}
					@if ('bold' == $form-theme) {
						margin: -#{$bold--border-width} 0 0;
					}
					@if ('material' == $form-theme) {
						margin: 4px 0 0;
					}
					padding: #{$dropdown--padding / 2} 0;
					@if ('default' == $form-theme) {
						border-width: 0 $default--border-width $default--border-width $default--border-width;
						border-style: $default--border-style;
						border-bottom-right-radius: $default--border-radius;
						border-bottom-left-radius: $default--border-radius;
					}
					@if ('bold' == $form-theme) {
						border-width: 0 $bold--border-width $bold--border-width $bold--border-width;
						border-style: $bold--border-style;
					}
					@if ('material' == $form-theme) {
						border: 0;
						border-radius: 0;
						box-shadow: $material--dropdown-shadow;
					}

					&, li {
						list-style: none;
					}

					li {
						cursor: pointer;
						display: block;
						margin: 0;
						@if ('default' == $form-theme) {
							padding: $dropdown--padding #{$dropdown--padding - ($default--border-width * 2)};
						}
						@if ('flat' == $form-theme) {
							padding: $dropdown--padding;
						}
						@if ('bold' == $form-theme) {
							padding: $dropdown--padding #{$dropdown--padding - ($bold--border-width * 2)};
						}
						@if ('material' == $form-theme) {
							padding: $dropdown--padding #{$dropdown--padding - ($default--border-width * 2)};
						}
						border: 0;
						line-height: $dropdown--line-height;
						transition: $transition--ease;
					}
				}
			}

			// STATUS: Open
			&.forminator-is_open {

				.forminator-select-list {

					@if ('default' == $form-theme) {

						.forminator-value {
							border-bottom-color: transparent !important;
							border-bottom-right-radius: 0;
							border-bottom-left-radius: 0;
						}
					}

					@if ('bold' == $form-theme) {

						.forminator-value {
							border-bottom-color: transparent !important;
						}
					}

					.forminator-dropdown-handle {

						[class*="forminator-icon-"] {
							transform: rotate(180deg);
						}
					}

					.forminator-dropdown-list {
						display: block;
					}
				}
			}
		}

		@if ('material' == $form-theme) {

			.forminator-is_hover,
			.forminator-is_active {

				.forminator-select-container {

					.forminator-select-list {

						.forminator-value:before {
							right: 0;
							left: 0;
						}
					}
				}
			}
		}
	}
}