@mixin component-dropdown2($form-type: no-type, $form-theme: no-theme) {

	.select2-container {

		&, span {
			display: block;
		}

		[class*="forminator-dropdown-"] {

			.select2-search {

				input {
					line-height: $input--line-height;
					transition: $transition--ease;

					&,
					&:hover,
					&:focus,
					&:active {
						outline: none;
						box-shadow: none;
					}
				}
			}

			.select2-results {

				.select2-results__options {
					max-height: $dropdown--height;
					padding: #{$dropdown--padding / 2} 0;

					.select2-results__option {
						line-height: $dropdown--line-height;
						transition: $transition--ease;
					}
				}
			}
		}

		.forminator-dropdown--#{$form-theme} {
			@if ('default' == $form-theme) {
				border-style: $default--border-style;
			}
			@if ('flat' == $form-theme) {
				border-width: 0;
				border-style: none;
				border-radius: 0;
			}
			@if ('bold' == $form-theme) {
				border-right-width: $bold--border-width;
				border-left-width: $bold--border-width;
				border-style: $bold--border-style;
				border-radius: 0;
			}
			@if ('material' == $form-theme) {
				border: 0;
				border-radius: 0;
				box-shadow: $material--dropdown-shadow;
			}

			.select2-search {
				@if ('flat' == $form-theme) {
					padding: $dropdown--padding;
				}
				@if ('bold' == $form-theme) {
					padding: 0 #{$dropdown--padding - $bold--border-width} #{$dropdown--padding - $bold--border-width};
				}
				@if ('material' == $form-theme) {
					padding: $dropdown--padding;
				}

				input {
					@if ('default' == $form-theme) {
						padding: #{$input--padding - $default--border-width};
						border-width: $default--border-width;
						border-style: $default--border-style;
						border-radius: $default--border-radius;
					}
					@if ('flat' == $form-theme) {
						padding: $input--padding;
						border-width: 0;
						border-style: none;
						border-radius: 0;
						line-height: $input--line-height;
					}
					@if ('bold' == $form-theme) {
						padding: #{$input--padding - $bold--border-width};
						border-width: $bold--border-width;
						border-style: $bold--border-style;
						border-radius: 0;
					}
					@if ('material' == $form-theme) {
						padding: $input--padding;
						border-width: 0;
						border-style: none;
						border-radius: 0;
					}
				}
			}

			.select2-results {

				.select2-results__options {

					.select2-results__option {
						@if ('default' == $form-theme) {
							padding: $dropdown--padding #{$dropdown--padding - ($default--border-width * 2)};
						}
						@if ('flat' == $form-theme) {
							padding: $dropdown--padding;
						}
						@if ('bold' == $form-theme) {
							padding: $dropdown--padding #{$dropdown--padding - ($bold--border-width * 2)};
						}
						@if ('material' == $form-theme) {
							padding: $dropdown--padding #{$dropdown--padding - ($default--border-width * 2)};
						}
					}
				}
			}

			// POSITION: Top.
			&.select2-dropdown--above {
				@if ('default' == $form-theme) {
					margin-top: #{$default--border-width};
					border-width: $default--border-width $default--border-width 0 $default--border-width;
					border-radius: $default--border-radius $default--border-radius 0 0;

					.select2-search {
						padding: #{$dropdown--padding - $default--border-width};
					}
				}
				@if ('flat' == $form-theme) {
					margin-top: -2px;
				}
				@if ('bold' == $form-theme) {
					margin-top: #{$bold--border-width};
					border-top-width: $bold--border-width;
					border-bottom-width: 0;

					.select2-search {
						padding: #{$dropdown--padding - $bold--border-width};
					}
				}
				@if ('material' == $form-theme) {
					margin-bottom: 4px;
				}

				@if ('default' == $form-theme) {
					.select2-search {
						padding: #{$dropdown--padding - $default--border-width};
					}
				}
			}

			// POSITION: Bottom.
			&.select2-dropdown--below {
				@if ('default' == $form-theme) {
					margin-top: -#{$default--border-width};
					border-width: 0 $default--border-width $default--border-width $default--border-width;
					border-radius: 0 0 $default--border-radius $default--border-radius;

					.select2-search {
						padding: 0 #{$dropdown--padding - $default--border-width} #{$dropdown--padding - $default--border-width};
					}
				}
				@if ('flat' == $form-theme) {
					margin-top: 2px;
				}
				@if ('bold' == $form-theme) {
					margin-top: -#{$bold--border-width};
					border-top-width: 0;
					border-bottom-width: $bold--border-width;

					.select2-search {
						padding: 0 #{$dropdown--padding - $bold--border-width} #{$dropdown--padding - $bold--border-width};
					}
				}
				@if ('material' == $form-theme) {
					margin-top: 4px;
				}
			}
		}
	}
}