@mixin component-dropdown2($form-type: no-type, $form-theme: no-theme) {

	.forminator-select {

		&.forminator-select-dropdown-container--open {
			display: block;
			margin-top: 33px;
			z-index: 999;

			* {
				box-sizing: border-box;
				font-variant-ligatures: none;
				-webkit-font-variant-ligatures: none;
				text-rendering: optimizeLegibility;
				-moz-osx-font-smoothing: grayscale;
				font-smoothing: antialiased;
				-webkit-font-smoothing: antialiased;
				text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
			}

			.forminator-select-dropdown {
				display: block;
				margin: 0;

				// Search input.
				.select2-search {
					display: block;
					margin: 0 0 $dropdown--padding;
					padding: 0 $dropdown--padding;

					input {
						width: 100%;
						max-width: 100%;
						display: block;
						margin: 0;

						&:hover,
						&:focus {
							outline: none;
							box-shadow: none;
						}
					}

					&.select2-search--hide {
						display: none !important;
					}
				}

				// Dropdown list.
				.select2-results {
					display: block;
					margin: 0;
					padding: 0;
					border: 0;

					.select2-results__options {
						max-height: 200px;
						overflow-y: auto;
						display: block;
						margin: 0;
						padding: 0;
						border: 0;
						list-style: none;

						.select2-results__option {
							user-select: none;
							display: block;
							margin: 0;
							border: 0;
							line-height: 35px;
							list-style: none;

							&.select2-results__message {
								position: relative;
								margin: 0 15px;
								padding: 15px 20px;
								border: 0;
							}

							&:not(.select2-results__option--selected) {
								cursor: pointer;
							}
						}
					}
				}

				// DESIGN: Default.
				&.forminator-dropdown--default {
					padding: #{$dropdown--padding - $default--border-width} 0;
					border-width: $default--border-width;
					border-style: $default--border-style;

					// Search input.
					.select2-search {
						margin: 0 0 #{$dropdown--padding - $default--border-width};
						padding: 0 #{$dropdown--padding - $default--border-width};

						input {
							padding: #{$dropdown--padding - $default--border-width};
							border-width: $default--border-width;
							border-style: $default--border-style;
							border-radius: 2px;
						}
					}

					// Dropdown list.
					.select2-results {

						.select2-results__options {

							.select2-results__option {
								padding: #{$dropdown--padding / 2} #{$dropdown--padding - ($default--border-width * 2)};

								&.select2-results__message {
									border-radius: 2px;
								}
							}
						}
					}
				}

				// DESIGN: Flat.
				&.forminator-dropdown--flat {
					padding: $dropdown--padding 0;
					border-width: 0;
					border-style: none;

					// Search input.
					.select2-search {
						margin: 0 0 $dropdown--padding;
						padding: 0 $dropdown--padding;

						input {
							padding: $dropdown--padding;
							border-width: 0;
							border-style: none;
							border-radius: 0;
						}
					}

					// Dropdown list.
					.select2-results {

						.select2-results__options {

							.select2-results__option {
								padding: #{$dropdown--padding / 2} $dropdown--padding;
							}
						}
					}
				}

				// DESIGN: Bold.
				&.forminator-dropdown--bold {
					padding: #{$dropdown--padding - $bold--border-width} 0;
					border-width: $bold--border-width;
					border-style: $bold--border-style;

					// Search input.
					.select2-search {
						margin: 0 0 #{$dropdown--padding - $bold--border-width};
						padding: 0 #{$dropdown--padding - $bold--border-width};

						input {
							padding: #{$dropdown--padding - $bold--border-width};
							border-width: $bold--border-width;
							border-style: $bold--border-style;
						}
					}

					// Dropdown list.
					.select2-results {

						.select2-results__options {

							.select2-results__option {
								padding: #{$dropdown--padding / 2} #{$dropdown--padding - ($bold--border-width * 2)};
							}
						}
					}
				}

				// DESIGN: Material.
				&.forminator-dropdown--material {
					padding: $dropdown--padding 0;

					// Search input.
					.select2-search {

						input {
							padding: 0 0 $input--padding;
							border-width: 0;
							border-bottom-width: 1px;
							border-style: solid;
							background: none transparent;
							background-color: transparent !important;
						}
					}

					// Dropdown list.
					.select2-results {

						.select2-results__options {

							.select2-results__option {
								padding: #{$dropdown--padding / 2} #{$dropdown--padding - ($default--border-width * 2)};
							}
						}
					}
				}
			}
		}
	}

	.sui-dialog-content {

		.forminator-select {

			&.forminator-select-dropdown-container--open {
				margin-top: 1px;
			}
		}
	}
}