@mixin component-textarea($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-textarea {
			width: 100%;
			min-height: $textarea--height;
			resize: vertical;
			display: block;
			margin: 0;
			@if ('default' == $form-theme) {
				padding: #{$textarea--padding - $default--border-width};
				border-width: $default--border-width;
				border-style: $default--border-style;
				border-radius: $default--border-radius;
			}
			@if ('flat' == $form-theme) {
				padding: $textarea--padding;
				border: 0;
				border-radius: 0;
			}
			@if ('bold' == $form-theme) {
				padding: #{$textarea--padding - $bold--border-width};
				border-width: $bold--border-width;
				border-style: $bold--border-style;
				border-radius: 0;
			}
			@if ('material' == $form-theme) {
				padding: 0 0 #{$input--padding - $material--border-width};
				border-width: 0;
				border-bottom-width: map-get($border-width, $form-theme);
				border-style: map-get($border-style, $form-theme);
				border-radius: 0;
				line-height: 20px;
			}
			background-image: unset;
			line-height: $textarea--line-height;
			transition: $transition--ease;

			&,
			&:hover,
			&:focus,
			&:active,
			&:disabled {
				outline: none;
				box-shadow: none;
			}

			&:disabled {
				pointer-events: none;
				border-style: dotted;

				&:-moz-placeholder {
					@include opacity(0.4);
				}

				&::-moz-placeholder {
					@include opacity(0.4);
				}

				&:-ms-input-placeholder {
					@include opacity(0.4);
				}

				&::-webkit-input-placeholder {
					@include opacity(0.4);
				}
			}
		}

		@if ('material' == $form-theme) {

			.forminator-textarea--wrap {
				position: relative;

				&:after {
					content: " ";
					height: #{map-get($border-width, $form-theme) * 2};
					display: block;
					position: absolute;
					right: 50%;
					bottom: 0;
					left: 50%;
					box-sizing: border-box;
					transition: map-get($transition, linear);
				}
			}

			.forminator-field {

				&.forminator-is_hover,
				&.forminator-is_active,
				&.forminator-has_error {

					.forminator-textarea--wrap {
						&:after{
							right: 0;
							left: 0;
						}
					}
				}
			}
		}

		// On Error
		.forminator-has_error .tmce-active .forminator-textarea.wp-editor-area {
			display: none;
		}
	}
}