@mixin component-multiupload($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-multi-upload {
			display: block;
			margin: 0;
			@if $form-theme == 'default' {
				padding: 29px;
				border-width: 1px;
				border-style: dashed;
				border-radius: 2px;
			}
			@else if $form-theme == 'bold' {
				padding: 27px;
				border-width: 3px;
				border-style: dashed;
				border-radius: 0;
			}
			@else if $form-theme == 'material' {
				padding: 29px;
				border-width: 1px;
				border-style: dashed;
				border-radius: 2px;
			}
			@else {
				padding: 30px;
				border: 0;
				border-radius: 0;
			}
			transition: $transition--ease;

			input[type="file"] {
				@extend %screen-readers;
			}

			.forminator-multi-upload-message {

				[class*="forminator-icon-"] {
					width: 30px;
					height: 30px;
					display: block;
					margin: 0 auto 5px;
					color: inherit;
					text-align: center;

					&:before {
						display: block;
						color: inherit;
						font-size: 30px;
						line-height: 30px;
					}
				}

				p {
					display: block;
					margin: 0;
					padding: 0;
					border: 0;
					text-align: center;

					a,
					a:hover,
					a:focus,
					a:active
					a:visited {
						margin: 0;
						padding: 0;
						border: 0;
						box-shadow: none;
						text-decoration: underline;
						text-transform: none;
					}
				}
			}
		}

		.forminator-uploaded-files {
			display: block;
			margin: 0;

			&, li {
				padding: 0;
				border: 0;
			}

			&.forminator-has-files {
				margin-top: 20px;
			}
		}

		.forminator-uploaded-file {
			display: block;
			margin: 0 0 20px;

			.forminator-uploaded-file- {

				&-content {
					direction: ltr;
					display: flex;
					flex-direction: row;
					align-items: flex-start;
				}

				&-image,
				&-preview {
					width: 36px;
					height: 36px;
					flex: 0 0 auto;
					margin: 0;
					padding: 0;
					border-style: solid;
					@if $form-theme == 'default' {
						border-radius: 2px;
					}
					@else if $form-theme == 'material' {
						border-radius: 2px;
					}
					@else {
						border-radius: 0;
					}

					+ .forminator-uploaded-file--text {
						margin-left: 10px;
					}
				}

				&-image {
					overflow: hidden;
					position: relative;
					border-width: 0;

					[role="image"] {
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background-size: cover;
						background-position: center;
						background-repeat: no-repeat;
						background-color: transparent;
					}
				}

				&-preview {
					display: flex;
					flex-direction: column;
					justify-content: center;
					@if $form-theme == 'default' {
						border-width: 1px;
					}
					@else if $form-theme == 'bold' {
						border-width: 3px;
					}
					@else if $form-theme == 'material' {
						border-width: 1px;
					}
					@else {
						border-width: 0;
					}
					text-align: center;

					[class*="forminator-icon-"] {
						display: block;
						flex: 0 0 auto;

						&:before {
							display: block;
							color: inherit;
							font-size: 16px;
							line-height: 16px;
						}
					}
				}

				&-text {
					min-width: 1px;
					flex: 1;

					p {
						margin: 0 0 4px;
						padding: 0;
						border: 0;
						text-align: left;
						letter-spacing: normal;
						text-transform: none;

						[class*="forminator-icon-"] {
							width: 12px;
							margin: 0 9px 0 0;
							font-size: 12px;
							line-height: 12px;
						}

						&:last-child {
							margin-bottom: 0;
						}
					}

					+ .forminator-uploaded-file--delete {
						margin-left: 10px;
					}
				}

				&-delete {
					flex: 0 0 auto;
					margin: 3px 0;
				}
			}

			// Make sure uploaded file error message remains hidden.
			.forminator-error-message {
				display: none !important;
			}

			&:last-child {
				margin-bottom: 0;
			}

			&.forminator-has_error {

				.forminator-uploaded-file- {

					&-image {
						@if $form-theme == 'default' {
							border-width: 1px;
						}
						@else if $form-theme == 'bold' {
							border-width: 3px;
						}
						@else if $form-theme == 'material' {
							border-width: 1px;
						}

						[role="image"] {
							@if $form-theme == 'default' {
								top: -1px;
								right: -1px;
								bottom: -1px;
								left: -1px;
							}
							@else if $form-theme == 'bold' {
								top: -3px;
								right: -3px;
								bottom: -3px;
								left: -3px;
							}
							@else if $form-theme == 'material' {
								top: -1px;
								right: -1px;
								bottom: -1px;
								left: -1px;
							}
						}
					}
				}

				.forminator-error-message {
					display: block !important;
				}
			}
		}

		&[data-color-option="default"] {
			.forminator-multi-upload {

				.forminator-multi-upload-message {

					p {
					
						a,
						a:hover,
						a:focus,
						a:active
						a:visited {
							outline: none;
						}
					}
				}
			}
		}
	}
}