@mixin component-upload($form-type: no-type, $form-theme: no-theme) {

	@include form-class($form-type, $form-theme, false) {

		.forminator-file-upload {
			display: flex;
			align-items: center;

			input[type="file"] {
				@extend %screen-readers;
			}

			> span {
				overflow: hidden;
				display: block;
				flex: 0 1 auto;
				@extend %text-truncate;

				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}

		@if ('basic' == $form-theme) {
			.forminator-button-upload {
				margin-right: 10px;
			}
		}

		.forminator-button-delete {
			@if ('flat' == $form-theme) {
				width: 20px;
				height: 20px;
			}
			@else {
				width: 30px;
				height: 30px;
			}
			cursor: pointer;
			display: flex;
			flex: 0 0 auto;
			align-items: center;
			justify-content: center;
			@if ('basic' != $form-theme) {
				font-size: map-get($button, icon-size);
				margin: 0;
				padding: 0;
				border: 0;
			}
			@if ('default' == $form-theme) {
				border-radius: map-get($border-radius, default);
			}
			@if ('flat' == $form-theme) {
				border-radius: 100%;
			}
			@if ('bold' == $form-theme) {
				border-radius: 100%;
			}
			@if ('material' == $form-theme) {
				border-radius: #{map-get($border-radius, material) * 2};
			}

			[class*=forminator-icon-] {
				display: block;

				&:before {
					display: block;
					color: inherit;
				}
			}
		}
	}

	// ============================================
	// RTL Support
	// ============================================
	@include form-class($form-type, $form-theme, false) {

		@if ('basic' == $form-theme) {
			.forminator-button-upload {
				margin-left: 10px;
				margin-right: 0;
			}
		}
		
	}

	@include form-class($form-type, $form-theme, true) {

		.forminator-col-3,
		.forminator-col-4 {

			.forminator-file-upload {

				.forminator-button-upload {

					@include media(min-width, sm) {
						flex: 0 0 100%;
					}
				}

				> span {

					&:not(:last-child) {

						@include media(min-width, sm) {
							margin-right: 0;
						}
					}

					@include media(min-width, sm) {
						flex: 1;
						margin-top: 10px;
					}
				}

				.forminator-button-delete {

					@include media(min-width, sm) {
						margin-top: 10px;
					}
				}

				@include media(min-width, sm) {
					flex-wrap: wrap;
				}
			}
		}
	}
}