@include body-class(custom-form poll, all, false) {

	.forminator-label,
	.forminator-error-message {
		display: block;
	}

	.forminator-description,
	.forminator-error-message {
		margin: 5px 0 0;
	}

	.forminator-label {
		cursor: default;
		margin: 0;
		border: 0;
		line-height: 1.7em;

		&[for] {
			cursor: pointer;
		}
	}

	.forminator-description {
		display: flex;
		line-height: 1.5em;

		span {
			min-width: 80px;
			margin-right: 0;
			margin-left: auto;
			text-align: right;
		}
	}

	.forminator-error-message {
		display: none;
		line-height: 2em;
	}

	.forminator-has_error {

		.forminator-error-message {
			display: block;
		}
	}
}

// =============================================
// DESIGN: Default
@include body-class(custom-form poll, default, false) {

	.forminator-error-message {
		padding: 2px 10px;
		border-radius: map-get($border-radius, default);
	}
}

// =============================================
// DESIGN: Flat
@include body-class(custom-form poll, flat, false) {

	.forminator-error-message {
		padding: 2px 10px;
		border-radius: map-get($border-radius, flat);
	}
}

// =============================================
// DESIGN: Bold
@include body-class(custom-form poll, bold, false) {

	.forminator-error-message {
		padding: 2px 10px;
		border-radius: map-get($border-radius, bold);
	}
}

// =============================================
// DESIGN: Material
@include body-class(custom-form poll, material, false) {

	.forminator-label {
		line-height: 20px;
	}

	[class*="forminator-floating-"] {
		pointer-events: none;
		transition: map-get($transition, linear);
	}

	// ******************************
	// INPUT: Floating label
	.forminator-floating--input {
		transform: translateY(30px);

		+ .forminator-input--wrap,
		+ .forminator-input-with-icon,
		+ .forminator-input-with-phone,
		+ .forminator-input-with-suffix {

			.forminator-input {

				&::placeholder {
					@include opacity(0);
				}

				&:-moz-placeholder {
					@include opacity(0);
				}

				&::-moz-placeholder {
					@include opacity(0);
				}

				&:-ms-input-placeholder {
					@include opacity(0);
				}

				&::-webkit-input-placeholder {
					@include opacity(0);
				}
			}
		}

		&.forminator-has_icon {
			padding-left: #{map-get($icon, size) + map-get($input, padding)};
		}

		&.forminator-has_phone {

			&.allow-dropdown {
				padding-left: #{$int-flag-size + map-get($input, padding) + 11px};
			}

			&:not(.allow-dropdown) {
				padding-left: #{$int-flag-size + map-get($input, padding)};
			}
		}
	}

	.forminator-is_active,
	.forminator-is_filled {

		.forminator-floating--input {
			transform: translateY(0);

			+ .forminator-input--wrap,
			+ .forminator-input-with-icon,
			+ .forminator-input-with-phone,
			+ .forminator-input-with-suffix {

				.forminator-input {

					&::placeholder {
						@include opacity(1);
					}

					&:-moz-placeholder {
						@include opacity(1);
					}

					&::-moz-placeholder {
						@include opacity(1);
					}

					&:-ms-input-placeholder {
						@include opacity(1);
					}

					&::-webkit-input-placeholder {
						@include opacity(1);
					}
				}
			}
		}
	}

	.forminator-is_filled {

		.forminator-floating--input {
			padding-left: 0 !important;
		}
	}

	// ******************************
	// INPUT: Floating textarea
	.forminator-floating--textarea {
		width: 100%;
		max-height: $textarea--height;
		overflow-y: hidden;
		position: absolute;
		z-index: 1;
		padding: map-get($input, padding);

		+ .forminator-textarea--wrap {

			.forminator-textarea {

				&::placeholder {
					@include opacity(0);
				}

				&:-moz-placeholder {
					@include opacity(0);
				}

				&::-moz-placeholder {
					@include opacity(0);
				}

				&:-ms-input-placeholder {
					@include opacity(0);
				}

				&::-webkit-input-placeholder {
					@include opacity(0);
				}
			}
		}
	}

	.forminator-is_active,
	.forminator-is_filled {

		.forminator-floating--textarea {
			padding-top: map-get($input, padding) !important;

			+ .forminator-textarea--wrap {

				.forminator-textarea {

					&::placeholder {
						@include opacity(1);
					}

					&:-moz-placeholder {
						@include opacity(1);
					}

					&::-moz-placeholder {
						@include opacity(1);
					}

					&:-ms-input-placeholder {
						@include opacity(1);
					}

					&::-webkit-input-placeholder {
						@include opacity(1);
					}
				}
			}
		}
	}
}