@include body-class(custom-form poll, all, false) {

	.forminator-radio {
		cursor: default;
		pointer-events: none;
		display: flex;
		position: relative;
		margin: 5px 0;

		input {
			@extend %screen-readers;

			&:checked {

				+ span[aria-hidden]:before {
					@include opacity(1);
				}
			}
		}

		span {
			cursor: pointer;
			pointer-events: all;
			display: block;
		}

		span[aria-hidden] {
			width: map-get($radio, size);
			height: map-get($radio, size);
			flex: 0 0 map-get($radio, size);
			position: relative;
			border-radius: #{map-get($radio, size) * 2};

			&:before {
				content: " ";
				@include opacity(0);
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 100%;
				transform: translate(-50%, -50%);
				transition: map-get($transition, ease);
			}

			+ span {
				margin-left: 10px;
			}
		}

		span:not([aria-hidden]) {
			flex: 0 1 auto;
			line-height: 20px;
		}

		// VARIATION: Inline
		&.forminator-radio-inline {
			display: inline-flex;
			vertical-align: middle;
			margin-right: 20px;
			margin-bottom: 0;

			&:last-of-type {
				margin-right: 0;
			}
		}

		// VARIATION: Stacked
		&:not(.forminator-radio-inline) {

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// =============================================
// DESIGN: Default
@include body-class(custom-form poll, default, false) {

	.forminator-radio {

		span[aria-hidden] {
			border-width: map-get($border-width, default);
			border-style: map-get($border-style, default);

			&:before {
				width: #{calc(calc(map-get($radio, size) / 2))};
				height: #{calc(calc(map-get($radio, size) / 2))};
			}
		}
	}
}

// =============================================
// DESIGN: Flat
@include body-class(custom-form poll, flat, false) {

	.forminator-radio {

		span[aria-hidden] {
			border-width: map-get($border-width, flat);
			border-style: map-get($border-style, flat);

			&:before {
				width: #{calc(calc(map-get($radio, size) / 2))};
				height: #{calc(calc(map-get($radio, size) / 2))};
			}
		}
	}
}

// =============================================
// DESIGN: Bold
@include body-class(custom-form poll, bold, false) {

	.forminator-radio {

		span[aria-hidden] {
			border-width: map-get($border-width, bold);
			border-style: map-get($border-style, bold);

			&:before {
				width: #{(calc(calc(map-get($radio, size) / 2))) - map-get($border-width, bold)};
				height: #{(calc(calc(map-get($radio, size) / 2))) - map-get($border-width, bold)};
			}
		}
	}
}

// =============================================
// DESIGN: Material
@include body-class(custom-form poll, material, false) {

	.forminator-radio {

		input {

			&:checked {

				+ span[aria-hidden]:after {
					@include opacity(1);
				}

				&:focus {

					+ span[aria-hidden]:after {
						animation-name: click-animation;
					}
				}
			}
		}

		span[aria-hidden] {
			position: relative;
			border-width: #{map-get($border-width, material) * 2};
			border-style: map-get($border-style, material);

			&:before {
				width: #{calc(calc(map-get($radio, size) / 2))};
				height: #{calc(calc(map-get($radio, size) / 2))};
			}

			&:after {
				content: " ";
				@include opacity(0);
				width: map-get($radio, size);
				height: map-get($radio, size);
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 100%;
				transform: translate(-50%, -50%) scale(0);
				transform-origin: center;
				transform-style: preserve-3d;
				animation-duration: 0.6s;
				animation-fill-mode: both;
			}
		}
	}
}