%forminator-radio {
	cursor: default;
	pointer-events: none;
	display: flex;
	margin: 5px 0;

	input {
		@extend %screen-readers;

		&:checked {

			+ span[aria-hidden]:before {
				@include opacity(1);
			}
		}
	}

	span {
		cursor: pointer;
		pointer-events: all;
		display: block;
	}

	span[aria-hidden] {
		width: $radio--size;
		height: $radio--size;
		flex: 0 0 $radio--size;
		position: relative;

		&:before {
			content: " ";
			@include opacity(0);
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			transition: $transition--ease;
		}

		+ span {
			margin-left: 10px;
		}
	}

	span:not([aria-hidden]) {
		flex: 0 1 auto;
		line-height: $radio--size;
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@include body-class(custom-form) {

	.forminator-radio,
	.forminator-checkbox {
		@extend %forminator-radio;
	}

	.forminator-radio {

		span[aria-hidden] {
			border-radius: 100%;

			&:before {
				border-radius: 100%;
			}
		}
	}

	.forminator-checkbox {

		span[aria-hidden] {

			@include icon(before, check) {
				color: inherit;
				font-size: $radio--icon-size;
			}
		}
	}
}

@include body-class(custom-form, default) {

	.forminator-radio,
	.forminator-checkbox {

		span[aria-hidden] {
			border-width: $default--border-width;
			border-style: $default--border-style;
		}
	}

	.forminator-radio {

		span[aria-hidden] {

			&:before {
				width: #{$radio--size / 2};
				height: #{$radio--size / 2};
			}
		}
	}

	.forminator-checkbox {

		span[aria-hidden] {
			border-radius: $default--border-radius;
		}
	}
}

@include body-class(custom-form, flat) {

	.forminator-radio {

		span[aria-hidden] {

			&:before {
				width: #{$radio--size / 2};
				height: #{$radio--size / 2};
			}
		}
	}
}

@include body-class(custom-form, bold) {

	.forminator-radio,
	.forminator-checkbox {

		span[aria-hidden] {
			border-width: $bold--border-width;
			border-style: $bold--border-style;
		}
	}

	.forminator-radio {

		span[aria-hidden] {

			&:before {
				width: #{($radio--size / 2) - 2px};
				height: #{($radio--size / 2) - 2px};
			}
		}
	}
}

@include body-class(custom-form, material) {

	.forminator-radio,
	.forminator-checkbox {

		input {

			&:checked {

				+ span[aria-hidden]:after {
					@include opacity(1);
				}

				&:focus {

					+ span[aria-hidden]:after {
						animation-name: click-animation;
					}
				}
			}
		}

		span[aria-hidden] {
			position: relative;
			border-width: #{$material--border-width * 2};
			border-style: $material--border-style;

			&:after {
				content: " ";
				@include opacity(0);
				width: $radio--size;
				height: $radio--size;
				position: absolute;
				top: 50%;
				left: 50%;
				border-radius: 100%;
				transform: translate(-50%, -50%) scale(0);
				transform-origin: center;
				transform-style: preserve-3d;
				animation-duration: 0.6s;
				animation-fill-mode: both;
			}
		}
	}

	.forminator-radio {

		span[aria-hidden] {

			&:before {
				width: #{$radio--size / 2};
				height: #{$radio--size / 2};
			}
		}
	}

	.forminator-checkbox {

		span[aria-hidden] {
			border-radius: $material--border-radius;
		}
	}
}