@include body-class(all, all, false) {

	.forminator-response-message {
		margin: 0 0 $gutter-sm;
		text-align: left;

		p {
			margin: 0;
			padding: 0;
			border: 0;
			line-height: 1.3em;
			letter-spacing: 0;

			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}

		&,
		&:focus,
		&:hover,
		&:active {
			outline: none;
			box-shadow: none;
		}

		&:last-child {
			margin-bottom: 0;
		}

		&[aria-hidden="true"] {
			display: none;
		}

		&.forminator-loading {
			position: relative;
			padding-left: #{($gutter-sm * 2) + 6px};

			@include icon(before, loader, true) {
				position: absolute;
				top: 17px;
				left: $gutter-sm;
				font-size: 16px;
			}
		}

		&.forminator-show {
			display: block;
		}

		&.forminator-accessible {
			@extend %screen-readers;
		}
	}
}

@include body-class(all, all, true) {

	.forminator-response-message {

		&:last-child {

			@include media(min-width, sm) {
				margin-bottom: 0;
			}
		}

		@include media(min-width, sm) {
			margin-bottom: $gutter;
		}
	}
}

// =============================================
// DESIGN: Default
@include body-class(all, default, false) {

	.forminator-response-message {
		padding: 15px 20px 15px 22px;
		border-radius: map-get($border-radius, default);
	}
}

// =============================================
// DESIGN: Flat
@include body-class(all, flat, false) {

	.forminator-response-message {
		padding: 15px 10px;
		border-radius: map-get($border-radius, flat);
	}
}

// =============================================
// DESIGN: Bold
@include body-class(all, bold, false) {

	.forminator-response-message {
		padding: 15px 20px 15px 22px;
		border-radius: map-get($border-radius, bold);
	}
}

// =============================================
// DESIGN: Material
@include body-class(all, material, false) {

	.forminator-response-message {
		padding: 15px 20px 15px 22px;
		border-radius: map-get($border-radius, material);
		background-color: #FFF;
		box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	}
}