@include body-class(custom-form, default flat bold material none, false) {

	.forminator-hide-until-sm {

		@include media(max-width, sm) {
			display: none !important;
		}
	}

	.forminator-hide-after-sm {

		@include media(min-width, sm) {
			display: none !important;
		}
	}

	&.forminator-size--small {

		.forminator-col-3,
		.forminator-col-4 {

			.forminator-hide-until-sm {
				display: none !important;
			}
		}
	}
}