// DESIGN: Flat
.forminator-custom-form.forminator-design--flat {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border-width: 0;
	border-style: none;
	border-color: transparent;
	border-radius: 0;

	// ELEMENT: Label
	.forminator-label {
		color: $label-color;
		font-size: $label-font-size;
		font-family: $label-font-family;
		font-weight: $label-font-weight;

		.forminator-required {
			color: $label-color-required;
		}
	}

	// ELEMENT: Description
	.forminator-description {
		color: $description-color;
		font-size: $description-font-size;
		font-family: $description-font-family;
		font-weight: $description-font-weight;
	}

	// ELEMENT: Error Message
	.forminator-error-message {
		background-color: $error-background;
		color: $error-color;
		font-size: $error-font-size;
		font-family: $error-font-family;
		font-weight: $error-font-weight;
	}

	// ELEMENT: Section Title
	.forminator-title {
		color: $title-color;
		font-size: $title-font-size;
		font-weight: $title-font-weight;
		font-family: $title-font-family;
		text-align: $title-position;
	}

	// ELEMENT: Section Subtitle
	.forminator-subtitle {
		color: $subtitle-color;
		font-size: $subtitle-font-size;
		font-weight: $subtitle-font-weight;
		font-family: $subtitle-font-family;
		text-align: $subtitle-position;
	}

	// ELEMENT: Section Border
	.forminator-border {
		border-top-width: 1px;
		border-top-style: solid;
		border-top-color: #E9E9E9;
	}

	// ELEMENT: Input
	.forminator-input {
		background-color: $input-static--background;
		color: $input-color;
		font-size: $input-font-size;
		font-family: $input-font-family;
		font-weight: $input-font-weight;

		// ELEMENT: Placeholder
		&::placeholder {
			color: $input-placeholder;
		}
	}

	// ELEMENT: Textarea
	.forminator-textarea {
		background-color: $textarea-static--background;
		color: $textarea-color;
		font-size: $textarea-font-size;
		font-family: $textarea-font-family;
		font-weight: $textarea-font-weight;

		// ELEMENT: Placeholder
		&::placeholder {
			color: $input-placeholder;
		}
	}

	// ELEMENT: Select
	.forminator-select-container {

		.forminator-select-list {

			.forminator-value {
				background-color: $select-static--background;
				color: $select-color;
				font-size: $select-font-size;
				font-family: $select-font-family;
				font-weight: $select-font-weight;
			}

			.forminator-dropdown-list {
				background-color: $dropdown-static--background;
				color: $dropdown-static--color;
				font-size: $dropdown-font-size;
				font-family: $dropdown-font-family;
				font-weight: $dropdown-font-weight;

				li:hover {
					background-color: $dropdown-hover--background;
					color: $dropdown-hover--color;
				}

				li:active,
				li.current {
					background-color: $dropdown-active--background;
					color: $dropdown-active--color;
				}
			}
		}
	}

	// ============================================================
	// STATE: Hover
	.forminator-is_hover {

		// ELEMENT: Input
		.forminator-input {
			background-color: $input-hover--background;
		}

		// ELEMENT: Textarea
		.forminator-textarea {
			background-color: $textarea-hover--background;
		}

		// ELEMENT: Select
		.forminator-select-container {

			.forminator-select-list {

				.forminator-value {
					background-color: $select-hover--background;
				}
			}
		}
	}

	// ============================================================
	// STATE: Active
	.forminator-is_active {

		// ELEMENT: Input
		.forminator-input {
			background-color: $input-active--background;
		}

		// ELEMENT: Textarea
		.forminator-textarea {
			background-color: $textarea-active--background;
		}

		// ELEMENT: Select
		.forminator-select-container {

			.forminator-select-list {

				.forminator-value {
					background-color: $select-active--background;
				}
			}
		}
	}

	// ============================================================
	// STATE: Error
	.forminator-has_error {

		// ELEMENT: Input
		.forminator-input {
			box-shadow: inset 2px 0 0 0 $input-error--border;
		}

		// ELEMENT: Textarea
		.forminator-textarea {
			box-shadow: inset 2px 0 0 0 $input-error--border;
		}
	}
}