/* Form */
.forminator-custom-form.forminator-design--material {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border-width: 0;
	border-style: none;
	border-color: transparent;
	border-radius: 0;
}

/* ELEMENT: Label */
.forminator-custom-form.forminator-design--material .forminator-is_filled .forminator-label:not([class*="forminator-floating-"]) {
	color: #777771;
	font-size: 12px;
	font-weight: 500;
}

.forminator-custom-form.forminator-design--material [class*="forminator-floating-"] {
	color: #AAAAAA;
	font-size: 16px;
	font-family: inherit;
	font-weight: normal;
}

.forminator-custom-form.forminator-design--material .forminator-is_active [class*="forminator-floating-"] {
	color: #17A8E3;
	font-size: 12px;
	font-weight: 500;
}

.forminator-custom-form.forminator-design--material .forminator-is_filled [class*="forminator-floating-"] {
	color: #777771;
	font-size: 12px;
	font-weight: 500;
}

.forminator-custom-form.forminator-design--material .forminator-has_error.forminator-is_active [class*="forminator-floating-"] {
	color: #E04562;
}

/* ELEMENT: Description */
.forminator-custom-form.forminator-design--material .forminator-description {
	color: #6D6D6D;
	font-size: 12px;
	font-family: inherit;
	font-weight: 400;
}

/* ELEMENT: Error Message */
.forminator-custom-form.forminator-design--material .forminator-error-message {
	color: #E04562;
	font-size: 12px;
	font-family: inherit;
	font-weight: 500;
}

/* ELEMENT: Section Title */
.forminator-custom-form.forminator-design--material .forminator-title {
	color: #333333;
	font-size: 45px;
	font-weight: normal;
	font-family: inherit;
	text-align: left;
}

/* ELEMENT: Section Subtitle */
.forminator-custom-form.forminator-design--material .forminator-subtitle {
	color: #333333;
	font-size: 18px;
	font-weight: normal;
	font-family: inherit;
	text-align: left;
}

/* ELEMENT: Section Border */
.forminator-custom-form.forminator-design--material .forminator-border {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #E9E9E9;
}

/* ELEMENT: Input */
.forminator-custom-form.forminator-design--material .forminator-input {
	border-color: #777771;
	color: #000000;
	font-size: 16px;
	font-family: inherit;
	font-weight: normal;
}

.forminator-custom-form.forminator-design--material .forminator-input::placeholder {
	color: #AAAAAA;
}

.forminator-custom-form.forminator-design--material .forminator-input--wrap:after {
	background-color: #17A8E3;
}

.forminator-custom-form.forminator-design--material .forminator-has_error .forminator-input--wrap:after {
	background-color: #E04562;
}

/* ELEMENT: Textarea */
.forminator-custom-form.forminator-design--material .forminator-textarea {
	border-color: #777771;
	color: #000000;
	font-size: 16px;
	font-family: inherit;
	font-weight: normal;
}

.forminator-custom-form.forminator-design--material .forminator-textarea::placeholder {
	color: #AAAAAA;
}

.forminator-custom-form.forminator-design--material .forminator-textarea--wrap:after {
	border-color: #17A8E3;
}

.forminator-custom-form.forminator-design--material .forminator-has_error .forminator-textarea--wrap:after {
	border-color: #E04562;
}