@include body-class(custom-form) {

	.forminator-label,
	.forminator-error-message {
		display: block;
	}

	.forminator-description,
	.forminator-error-message {
		margin: 5px 0 0;
	}

	.forminator-label {
		line-height: 1.7em;
	}

	.forminator-description {
		display: flex;
		line-height: 1.5em;
	}

	.forminator-error-message {
		display: none;
		line-height: 2em;
	}

	.forminator-has_error {

		.forminator-error-message {
			display: block;
		}
	}
}

@include body-class(custom-form, default) {

	.forminator-error-message {
		padding: 2px 10px;
		border-radius: $default--border-radius;
	}
}

@include body-class(custom-form, flat) {

	.forminator-error-message {
		padding: 2px 10px;
	}
}

@include body-class(custom-form, bold) {

	.forminator-error-message {
		padding: 2px 10px;
	}
}

@include body-class(custom-form, material) {

	.forminator-label {
		line-height: 20px;
		transition: 0.2s linear;
	}

	.forminator-field {

		.forminator-label {
			transform: translateY(30px);

			+ .forminator-input--wrap {

				.forminator-input {

					&::placeholder {
						@include opacity(0);
					}
				}
			}
		}

		&.forminator-is_active {

			.forminator-label {
				transform: translateY(0);

				+ .forminator-input--wrap {

					.forminator-input {

						&::placeholder {
							@include opacity(1);
						}
					}
				}
			}
		}
	}
}