@include body-class(polls, all, false) {

	.forminator-chart {
		width: 100%;
		margin: 0;

		&,
		&:hover,
		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
			text-decoration: none;
		}

		&:not(.forminator-show) {
			display: none !important;
		}
	}
}