@include body-class(polls, all, false) {

	.forminator-link {
		line-height: 1.4em;
		transition: $transition--ease;

		&,
		&:hover,
		&:focus,
		&:active {
			outline: none;
			box-shadow: none;
			text-decoration: none;
		}

		&:disabled,
		&.forminator-disabled {
			@include opacity(0.5);
			user-select: none;
			pointer-events: none;
		}
	}
}