<div class="forminator-col">

	<div class="forminator-field forminator-is_required">

		<label class="forminator-label">Additional Services <span class="forminator-required">*</span></label>

		<div class="forminator-multiselect">

			<label
				for="multi-option-1"
				class="forminator-option"
			>
				<input
					type="checkbox"
					name="multi-options"
					id="multi-option-1"
				/>
				Logo / Brand Design
			</label>

			<label
				for="multi-option-2"
				class="forminator-option"
			>
				<input
					type="checkbox"
					name="multi-options"
					id="multi-option-2"
				/>
				Custom WordPress Theme
			</label>

			<label
				for="multi-option-3"
				class="forminator-option"
			>
				<input
					type="checkbox"
					name="multi-options"
					id="multi-option-3"
				/>
				Dedicated Hosting
			</label>

			<label
				for="multi-option-4"
				class="forminator-option"
			>
				<input
					type="checkbox"
					name="multi-options"
					id="multi-option-4"
				/>
				Company E-mail Set-up
			</label>

			<label
				for="multi-option-5"
				class="forminator-option"
			>
				<input
					type="checkbox"
					name="multi-options"
					id="multi-option-5"
				/>
				Other Services
			</label>

		</div>

		<span class="forminator-error-message">This field is required.</span>

		<span class="forminator-description">Optional description for multiple select field.</span>

	</div>

</div>