<div class="forminator-field">

	<label for="forminator-field-select-single" class="forminator-label">Pick an Option</label>

	<select
		placeholder="Placeholder"
		id="forminator-field-select-single"
		class="forminator-select2"
		data-search="true"
		data-placeholder="Search rtwesd"
		data-allow-clear="true"
	>
		<option>Option 1</option>
		<option>Option 2</option>
		<option>Option 3</option>
		<option>Option 4</option>
		<option>Option 5</option>
		<option>Option 6</option>
	</select>

	<span class="forminator-error-message" aria-hidden="true">This field is required.</span>

	<span class="forminator-description" aria-describedby="forminator-field-select-single">Optional description for select field.</span>

</div>