<div class="forminator-col">

	<div class="forminator-row">

		<div class="forminator-col">

			<div class="forminator-field">

				<label class="forminator-label">Post Title <span class="forminator-required">*</span></label>

				<input
					type="text"
					placeholder=""
					class="forminator-input"
				/>

				<span class="forminator-description">Optional description for post title field.</span>

			</div>

		</div>

		<div class="forminator-col">

			<div class="forminator-field">

				<label class="forminator-label">Post Content <span class="forminator-required">*</span></label>

				<textarea
					placeholder="Enter your post content"
					class="forminator-textarea"
				></textarea>

				<span class="forminator-error-message">This field is required.</span>

				<span class="forminator-description">Optional description for post content field.</span>

			</div>

		</div>

	</div>

	<div class="forminator-row">

		<div class="forminator-col">

			<div class="forminator-field">

				<label class="forminator-label">Post Excerpt <span class="forminator-required">*</span></label>

				<textarea
					placeholder=""
					class="forminator-textarea"
				></textarea>

				<span class="forminator-error-message">This field is required.</span>

				<span class="forminator-description">Optional description for post excerpt field.</span>

			</div>

		</div>

		<div class="forminator-col">

			<div class="forminator-field">

				<label class="forminator-label">Featured Image <span class="forminator-required">*</span></label>

				<div class="forminator-file-upload">

					<input
						type="file"
						readonly="readonly"
					/>

					<button class="forminator-button forminator-button-upload">
						<span>Choose File</span>
						<span aria-hidden="true"></span>
					</button>

					<span>No file chosen</span>

					<button class="forminator-button-delete">
						<i class="forminator-icon-cross-close" aria-hidden="true"></i>
						<span class="forminator-screen-reader-only">Delete featured image</span>
					</button>

				</div>

				<span class="forminator-error-message">This field is required.</span>

				<span class="forminator-description">Optional description for featured image field.</span>

			</div>

		</div>

	</div>

	<div class="forminator-row">

		<div class="forminator-col">

			<div class="forminator-field">

				<label class="forminator-label">Category <span class="forminator-required">*</span></label>

				<select class="forminator-select">
					<option>Films</option>
					<option>Food</option>
					<option>Sports</option>
					<option>Uncategorized</option>
				</select>

				<span class="forminator-description">Optional description for post category field.</span>

			</div>

		</div>

		<div class="forminator-col">

			<div class="forminator-field">

				<label class="forminator-label">Tags <span class="forminator-required">*</span></label>

				<select class="forminator-select">
					<option>White</option>
					<option>Red</option>
					<option>Blue</option>
					<option>Green</option>
					<option>Yellow</option>
					<option>Orange</option>
					<option>Black</option>
				</select>

				<span class="forminator-description">Optional description for tags field.</span>

			</div>

		</div>

	</div>

</div>