<div class="forminator-col">

	<div class="forminator-field forminator-is_required">

		<label for="field-textarea" class="forminator-label">Textarea <span class="forminator-required">*</span></label>

		<textarea
			placeholder="Enter your message..."
			id="field-textarea"
			class="forminator-textarea"
		></textarea>

		<span class="forminator-error-message">This field is required.</span>

		<span class="forminator-description">Optional description for textarea field. <span>0 / 180</span></span>

	</div>

</div>