<div class="forminator-field forminator-field-slider">

	<label class="forminator-label">Single Slider <span class="forminator-required">*</span></label>

	<div 
		id="slider-1" 
		class="forminator-slider forminator-slider-full" 
		aria-required="false"
	>
		<div class="forminator-slide" data-is-range="false" data-value="6"></div>
		<div class="forminator-slider-amount forminator-slider-amount-top-left" data-value-template="{slider-value}suffix"><span class="forminator-slider-value-min"><span class="forminator-slider-value">2</span>suffix</span></div>
	</div>

	<span class="forminator-error-message">This field is required.</span>

	<span class="forminator-description">Optional description for slider.</span>

</div>

<div class="forminator-field forminator-field-slider">

	<label class="forminator-label">Range Slider <span class="forminator-required">*</span></label>

	<div 
		id="slider" 
		class="forminator-slider forminator-slider-full" 
		aria-required="false"
	>
		<div class="forminator-slide"
			data-is-range="true"
			data-min="0"
			data-max="100"
			data-step="2"
			data-value="2"
			data-value-max="40"
		></div>
		<div class="forminator-slider-amount forminator-slider-amount-bottom" data-value-template="prefix{slider-value}suffix">
			<span class="forminator-slider-value-min"></span>
			<span class="forminator-slider-value-max"></span>
		</div>
	</div>
	
	<span class="forminator-error-message">This field is required.</span>

	<span class="forminator-description">Optional description for slider.</span>

</div>