<div class="forminator-field">

	<label for="forminator-field-datepicker" class="forminator-label">Pick a Date</label>

	<div class="forminator-input-with-icon">

		<i class="forminator-icon-calendar" aria-hidden="true"></i>

		<input
			type="text"
			placeholder="Choose Date"
			id="forminator-field-datepicker"
			class="forminator-input"
		/>

	</div>

	<span class="forminator-error-message" aria-hidden="true">This field is required.</span>

	<span class="forminator-description" aria-describedby="forminator-field-datepicker">Optional description for date field.</span>

</div>