<div class="forminator-field">

	<label class="forminator-label">Additional Services</label>

	<div class="forminator-multiselect">

		<label
			for="multi-option-1"
			class="forminator-option"
		>
			<input
				type="checkbox"
				name="multi-options"
				id="multi-option-1"
			/>
			Logo / Brand
		</label>

		<label
			for="multi-option-2"
			class="forminator-option"
		>
			<input
				type="checkbox"
				name="multi-options"
				id="multi-option-2"
			/>
			Stationary
		</label>

		<label
			for="multi-option-3"
			class="forminator-option"
		>
			<input
				type="checkbox"
				name="multi-options"
				id="multi-option-3"
			/>
			HTML Website
		</label>

		<label
			for="multi-option-4"
			class="forminator-option"
		>
			<input
				type="checkbox"
				name="multi-options"
				id="multi-option-4"
			/>
			WordPress Theme
		</label>

		<label
			for="multi-option-5"
			class="forminator-option"
		>
			<input
				type="checkbox"
				name="multi-options"
				id="multi-option-5"
			/>
			Mobile App
		</label>

		<label
			for="other-option"
			class="forminator-option"
		>
			<input
				type="checkbox"
				name="multi-options"
				id="other-option"
				value="custom_option"
			/>
			Other
		</label>

	</div>

	<div class="forminator-field forminator-custom-input">

		<label for="forminator-field-input" class="forminator-label">Company</label>

		<input
			type="text"
			placeholder="E.g. Acme Enterprises"
			id="forminator-field-input"
			class="forminator-input"
		/>

		<span class="forminator-error-message" aria-hidden="true">This field is required.</span>

		<span class="forminator-description" aria-describedby="forminator-field-input">Optional description for input field. <span>0 / 180</span></span>

	</div>

	<span class="forminator-error-message" aria-hidden="true">This field is required.</span>

	<span class="forminator-description">Optional description for multiple select field.</span>

</div>