<div class="forminator-col">

	<div class="forminator-field">

		<label class="forminator-label">Field label <span class="forminator-required">*</span></label>

		<select
			placeholder="Placeholder"
			class="forminator-select"
		>
			<option>Option 1</option>
			<option>Option 2</option>
			<option>Option 3</option>
			<option>Option 4</option>
			<option>Option 5</option>
			<option>Option 6</option>
			<option>Option 7</option>
			<option>Option 8</option>
			<option>Option 9</option>
			<option>Option 10</option>
		</select>

		<span class="forminator-error-message">This field is required.</span>

		<span class="forminator-description">Optional description for select field.</span>

	</div>

</div>