<div class="forminator-field">

	<label for="forminator-field-select2-multiple" class="forminator-label">Pick an Option</label>

	<select
		id="forminator-field-select2-multiple-4"
		class="forminator-select2 forminator-select2-multiple"
		multiple
		data-search="true"
		data-allow-clear="true"
		data-placeholder="Select the country"
		data-search-placeholder="Search"
		data-checkbox="true"
	>
		<option>Option 1</option>
		<option>Option 2</option>
		<option>Option 3</option>
		<option>Option 4</option>
		<option>Option 5</option>
		<option>Option 6</option>
	</select>

	<span class="forminator-error-message" aria-hidden="true">This field is required.</span>

	<span class="forminator-description" aria-describedby="forminator-field-select2-multiple">Optional description for select field.</span>

</div>
