<div class="forminator-col">

	<div class="forminator-row">

		<div class="forminator-col">

			<div class="forminator-field forminator-is_required">

				<label class="forminator-label">Street Address <span class="forminator-required">*</span></label>

				<input
					type="text"
					placeholder="E.g. 42 Wallaby Way"
					class="forminator-input"
				/>

				<span class="forminator-description">Optional description for street address field.</span>

			</div>

		</div>

		<div class="forminator-col">

			<div class="forminator-field forminator-is_required">

				<label class="forminator-label">Apartment, suite, etc. <span class="forminator-required">*</span></label>

				<input
					type="text"
					placeholder=""
					class="forminator-input"
				/>

				<span class="forminator-error-message">This field is required.</span>

				<span class="forminator-description">Optional description for apartment field.</span>

			</div>

		</div>

	</div>

	<div class="forminator-row">

		<div class="forminator-col">

			<div class="forminator-field forminator-is_required">

				<label class="forminator-label">City <span class="forminator-required">*</span></label>

				<input
					type="text"
					placeholder="E.g. Sydney"
					class="forminator-input"
				/>

				<span class="forminator-error-message">This field is required.</span>

				<span class="forminator-description">Optional description for city field.</span>

			</div>

		</div>

		<div class="forminator-col">

			<div class="forminator-field forminator-is_required">

				<label class="forminator-label">State / Province <span class="forminator-required">*</span></label>

				<input
					type="text"
					placeholder="E.g. New South Wales"
					class="forminator-input"
				/>

				<span class="forminator-error-message">This field is required.</span>

				<span class="forminator-description">Optional description for state / province field.</span>

			</div>

		</div>

	</div>

	<div class="forminator-row">

		<div class="forminator-col">

			<div class="forminator-field forminator-is_required">

				<label class="forminator-label">ZIP / Postal Code <span class="forminator-required">*</span></label>

				<input
					type="text"
					placeholder="E.g. 2000"
					class="forminator-input"
				/>

				<span class="forminator-error-message">This field is required.</span>

				<span class="forminator-description">Optional description for postal code field.</span>

			</div>

		</div>

		<div class="forminator-col">

			<div class="forminator-field">

				<label class="forminator-label">Country <span class="forminator-required">*</span></label>

				<select class="forminator-select2">
					<option>Afghanistan</option>
					<option>Albania</option>
					<option>Algeria</option>
					<option>American Samoa</option>
					<option>Andorra</option>
					<option>Angola</option>
					<option>Anguilla</option>
					<option>Antarctica</option>
					<option>Antigua and Barbuda</option>
					<option>Argentina</option>
					<option>Armenia</option>
					<option>Australia</option>
				</select>

				<span class="forminator-error-message">This field is required.</span>

				<span class="forminator-description">Optional description for state / province field.</span>

			</div>

		</div>

	</div>

</div>