<div class="forminator-col">

	<fieldset class="forminator-field forminator-field-radio" role="radiogroup">

		<label class="forminator-label">Estimated Budget</label>

		<label
			for="radio-option-1"
			class="forminator-radio"
		>
			<input
				type="radio"
				name="radio-options"
				value="one"
				id="radio-option-1"
			/>
			<span aria-hidden="true"></span>
			<span>$100 - $500 USD</span>
		</label>

		<label
			for="radio-option-2"
			class="forminator-radio"
		>
			<input
				type="radio"
				name="radio-options"
				value="two"
				id="radio-option-2"
			/>
			<span aria-hidden="true"></span>
			<span>$501 - $1000 USD</span>
		</label>

		<label
			for="radio-option-3"
			class="forminator-radio"
		>
			<input
				type="radio"
				name="radio-options"
				value="three"
				id="radio-option-3"
			/>
			<span aria-hidden="true"></span>
			<span>$1001 or more USD</span>
		</label>

		<span class="forminator-error-message">This field is required.</span>

		<span class="forminator-description">Optional description for radio field.</span>

	</fieldset>

</div>