<div class="forminator-field forminator-field-slider">

	<label for="slider-1" class="forminator-label">Single Slider <span class="forminator-required">*</span></label>

	<div
		class="forminator-slider forminator-slider-full" 
		aria-required="false"
	>
		<input id="slider-1" type="text" class="forminator-hidden-input">
		<div class="forminator-slide" data-value="6"></div>
		<div class="forminator-slider-limit">
			<span class="forminator-slider-limit-min">0</span>
			<span class="forminator-slider-limit-max">10</span>
		</div>
		<div class="forminator-slider-amount forminator-slider-amount-top" data-value-template="{slider-value}suffix"><span class="forminator-slider-value-min"><span class="forminator-slider-value">2</span>suffix</span></div>
	</div>

	<span class="forminator-error-message">This field is required.</span>

	<span class="forminator-description">Optional description for slider.</span>

</div>

<div class="forminator-field forminator-field-slider">

	<label for="slider" class="forminator-label">Range Slider <span class="forminator-required">*</span></label>

	<div 
		class="forminator-slider forminator-disabled forminator-slider-full" 
		aria-required="false"
	>
		<input id="slider" type="text" class="forminator-hidden-input">
		<div class="forminator-slide"
			data-is-range="true"
			data-min="0"
			data-max="50"
			data-step="1"
			data-value="2"
			data-value-max="40"
		></div>
		<div class="forminator-slider-limit">
			<span class="forminator-slider-limit-min">0</span>
			<span class="forminator-slider-limit-max">50</span>
		</div>
		<div class="forminator-slider-amount forminator-slider-amount-bottom" data-value-template="prefix{slider-value}suffix">
			<span class="forminator-slider-value-min"></span>
			<span class="forminator-slider-seperator"> - </span>
			<span class="forminator-slider-value-max"></span>
		</div>
	</div>
	
	<span class="forminator-error-message">This field is required.</span>

	<span class="forminator-description">Optional description for slider.</span>

</div>