<div class="forminator-field">

	<label class="forminator-label">Slider <span class="forminator-required">*</span></label>

	<div 
		id="slider" 
		class="forminator-slider forminator-slider-full" 
		aria-required="false" 
		data-is-range="false"
		data-min="0"
		data-max="10"
		data-step="2"
		data-value="2"
		data-value-max="4"
	></div>

	<div id="amount">$0 - $10</div>

	<div 
		id="slider-1" 
		class="forminator-slider forminator-slider-full" 
		aria-required="false"
	></div>

	<div class="forminator-slider-amount forminator-slider-amount-bottom-left" data-value-template="USD{slider-value}"></div>

	<span class="forminator-error-message">This field is required.</span>

	<span class="forminator-description">Optional description for slider.</span>

</div>