.forminator-polls.forminator-design--default {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	border-width: 0;
	border-style: none;
	border-color: transparent;
	border-radius: 0;

	// ELEMENT: Response
	.forminator-response-message {

		&.forminator-error {
			background-color: $error-response-background;
			color: $error-response-color;

			&,
			&:focus,
			&:hover,
			&:active {
				box-shadow: inset 2px 0 0 0 $error-response-border;
			}

			p {
				color: $error-response-color;
				font-size: $error-response-font-size;
				font-weight: $error-response-font-weight;
				font-family: $error-response-font-family;
			}
		}

		&.forminator-success {
			background-color: $success-response-background;
			color: $success-response-color;

			&,
			&:focus,
			&:hover,
			&:active {
				box-shadow: inset 2px 0 0 0 $success-response-border;
			}

			p {
				color: $success-response-color;
				font-size: $success-response-font-size;
				font-weight: $success-response-font-weight;
				font-family: $success-response-font-family;
			}
		}
	}

	// ELEMENT: Poll Question
	.forminator-question {
		color: $question-color;
		font-size: $question-font-size;
		font-family: $question-font-family;
		font-weight: $question-font-weight;
	}

	// ELEMENT: Poll Description
	.forminator-description {
		color: $description-color;
		font-size: $description-font-size;
		font-family: $description-font-family;
		font-weight: $description-font-weight;
	}

	// ELEMENT: Input
	.forminator-input {
		border-color: $input-static--border;
		background-color: $input-static--background;
		color: $input-color;
		font-size: $input-font-size;
		font-family: $input-font-family;
		font-weight: $input-font-weight;

		// ELEMENT: Placeholder
		&::placeholder {
			color: $input-placeholder;
		}

		&-with-icon {

			[class*="forminator-icon-"] {
				color: $input-icon-color;
			}
		}
	}

	// ELEMENT: Radio
	.forminator-radio {

		input:checked {

			+ span[aria-hidden] {
				border-color: $radio-checked--border;
				background-color: $radio-checked--background;
			}
		}

		span[aria-hidden] {
			border-color: $radio-static--border;
			background-color: $radio-static--background;

			&:before {
				background-color: $radio-icon;
			}
		}

		span:not([aria-hidden]) {
			color: $radio-font-color;
			font-size: $radio-font-size;
			font-family: $radio-font-family;
			font-weight: $radio-font-weight;
		}
	}

	// ELEMENT: Error Message
	.forminator-error-message {
		background-color: $error-background;
		color: $error-color;
		font-size: $error-font-size;
		font-family: $error-font-family;
		font-weight: $error-font-weight;
	}

	// ELEMENT: Submit Button
	.forminator-button-submit {
		background-color: $submit-static--background;
		color: $submit-static--color;
		font-size: $submit-font-size;
		font-family: $submit-font-family;
		font-weight: $submit-font-weight;

		&:hover {
			background-color: $submit-hover--background;
			color: $submit-hover--color;
		}

		&:active {
			background-color: $submit-active--background;
			color: $submit-active--color;
		}
	}

	// ELEMENT: Back Button
	.forminator-button-back {
		background-color: $submit-static--background;
		color: $submit-static--color;
		font-size: $submit-font-size;
		font-family: $submit-font-family;
		font-weight: $submit-font-weight;

		&:hover {
			background-color: $submit-hover--background;
			color: $submit-hover--color;
		}

		&:active {
			background-color: $submit-active--background;
			color: $submit-active--color;
		}
	}

	// ELEMENT: Link
	.forminator-link {
		font-size: $links-font-size;
		font-family: $links-font-family;
		font-weight: $links-font-weight;

		&,
		&:visited {
			color: $links-static--color;
		}

		&:hover,
		&:focus {
			color: $links-static--color;
		}

		&:active {
			color: $links-static--color;
		}
	}

	// ============================================================
	// STATE: Error
	.forminator-has_error {

		// ELEMENT: Radio
		.forminator-radio {

			input:checked {

				+ span[aria-hidden] {
					border-color: $radio-error--border;
					background-color: $radio-error--background;
				}
			}

			span[aria-hidden] {
				border-color: $radio-error--border;
				background-color: $radio-error--background;
			}
		}
	}
}