@function palette($palette, $tone: 'default') {
	@return map-get( map-get($palettes, $palette), $tone );
}

// ============================================================
// Default colors palette
$palettes: (
	mono: (
		light: #FFFFFF,
		dark: #000000
	),
	gray: (
		default: #888888,
		light: #EDEDED,
		dark: #333333
	),
	silver: (
		default: #DDDDDD,
		light: #E6E6E6,
		dark: #BBBBBB,
		darker: #777771
	),
	red: (
		default: #E04562,
		light: #F9E4E8
	),
	green: (
		default: #1ABCA1,
		light: #BCEEE6,
		dark: #159C85
	),
	blue: (
		default: #17A8E3,
		dark: #1289BA
	)
);

// ============================================================
// ELEMENT: Success Response
$success-response-border:      palette(green, default);
$success-response-background:  palette(green, light);
$success-response-color:       palette(gray, dark);
$success-response-font-size:   15px;
$success-response-font-weight: 400;
$success-response-font-family: inherit;

// ============================================================
// ELEMENT: Error Response
$error-response-border:      palette(red, default);
$error-response-background:  palette(red, light);
$error-response-color:       palette(gray, dark);
$error-response-font-size:   15px;
$error-response-font-weight: 400;
$error-response-font-family: inherit;

// ============================================================
// ELEMENT: Error Message
$error-background: palette(red, light);
$error-color:      palette(red, default);

$error-font-size:   12px;
$error-font-family: inherit;
$error-font-weight: 500;

// ============================================================
// ELEMENT: Question
$question-color:       palette(gray, dark);
$question-font-size:   15px;
$question-font-family: inherit;
$question-font-weight: 500;

// ============================================================
// ELEMENT: Description
$description-color:       palette(silver, darker);
$description-font-size:   13px;
$description-font-family: inherit;
$description-font-weight: 400;

// ============================================================
// ELEMENT: Input
$input-color:              palette(mono, dark);
$input-placeholder:        palette(gray, default);
$input-font-size:          16px;
$input-font-family:        inherit;
$input-font-weight:        400;
$input-icon-color:         palette(silver, darker);

$input-static--background: palette(gray, light);
$input-hover--background:  palette(silver, light);
$input-active--background: palette(silver, light);

$input-static--border:     palette(silver, darker);
$input-hover--border:      palette(blue, default);
$input-active--border:     palette(blue, default);
$input-error--border:      palette(red, default);

// ============================================================
// ELEMENT: Radio
$radio-icon:                palette(blue, default);
$radio-font-color:          palette(mono, dark);
$radio-font-size:           16px;
$radio-font-family:         inherit;
$radio-font-weight:         400;

$radio-static--border:      palette(silver, darker);
$radio-checked--border:     palette(blue, default);
$radio-error--border:       palette(red, default);

$radio-static--background:  palette(gray, light);
$radio-checked--background: palette(gray, light);
$radio-error--background:   palette(red, light);

// ============================================================
// ELEMENT: Submit Button
$submit-font-size:          14px;
$submit-font-family:        inherit;
$submit-font-weight:        500;

$submit-static--background: palette(blue, default);
$submit-hover--background:  palette(blue, dark);
$submit-active--background: palette(blue, dark);

$submit-static--color:      palette(mono, light);
$submit-hover--color:       palette(mono, light);
$submit-active--color:      palette(mono, light);

// ============================================================
// ELEMENT: Links
$links-font-size:   13px;
$links-font-family: inherit;
$links-font-weight: 500;

$links-static--color: palette(blue, default);
$links-hover--color:  palette(blue, dark);
$links-active--color: palette(blue, dark);