@import '../helpers/mixins';

@include form-class($divi: false, $material: false) {

    .forminator-input {
		width: 100%;
        min-width: unset;
		max-width: 100%;
        height: auto;
        min-height: unset;
        max-height: unset;
		display: block;
		margin: 0;
		border-style: solid;
		background-image: unset;
		line-height: 1.3em;
		letter-spacing: 0;
        transition: 0.2s ease;

        &:hover,
        &:focus {
            outline: none;
        }

		&:disabled {
			pointer-events: none;
			border-style: dotted;

			// &:-moz-placeholder {
			// 	@include opacity(0.4);
			// }

			// &::-moz-placeholder {
			// 	@include opacity(0.4);
			// }

			// &:-ms-input-placeholder {
			// 	@include opacity(0.4);
			// }

			// &::-webkit-input-placeholder {
			// 	@include opacity(0.4);
			// }
		}
	}
}