@import '../helpers/wrappers';
@import '../helpers/breakpoints';
@import '../helpers/opacity';

@mixin stripe($divi: false) {

	@include form-class($divi, $material: false, $rtl: false) {

		.forminator-field {

			&.forminator-is_active,
			&.forminator-is_filled {

				.forminator-input--stripe {

					&:not(.forminator--no_label) {

						.StripeElement iframe {
							@include opacity(1);
						}
					}
				}
			}
		}

		.forminator-input--stripe {

			.StripeElement {
				padding: 10px 0 9px;
				border: 1px solid transparent;
				border-radius: 0;
				transition: 0.2s ease;

				&:after {
					content: " ";
					height: 1px;
					display: block;
					position: absolute;
					right: 0;
					bottom: 0;
					left: 0;
				}
			}

			&:not(.forminator--no_label) {

				.StripeElement {

					iframe {
						@include opacity(0);
					}
				}
			}

			&:hover:after {
				left: 0;
				right: 0;
			}
		}
	}
}