@import '../helpers/wrappers';

@mixin textarea($divi: false) {

	@include form-class($divi, $material: false, $rtl: false) {

		.forminator-textarea {
			margin: 0;
			border-style: solid;
			background-image: unset;
			line-height: 1.3em;
			transition: 0.2s ease;

			&:hover,
			&:focus {
				outline: none;
				box-shadow: none;
			}

			&:disabled {
				@include opacity(0.5);
				pointer-events: none;
				border-style: dotted;
			}
		}
	}
}