@import '../helpers/wrappers';

@mixin typography($divi: false) {

	// LTR Support.
	@include form-class($divi, $material: false, $rtl: false) {

		.forminator-title,
		.forminator-subtitle {

			&:before,
			&:after {
				content: unset;
				display: none;
			}
		}

		.forminator-title {
			line-height: 1em;

			+ .forminator-subtitle {
				margin-top: 10px;
			}
		}

		.forminator-subtitle {
			line-height: 1.4em;
		}

		.forminator-label,
		.forminator-description,
		.forminator-error-message {
			letter-spacing: 0;
		}

		.forminator-label {
			margin: 0 0 5px;
			padding: 0;
			border: 0;
			line-height: 1.7em;
		}

		.forminator-error-message {
			padding: 2px 10px;
			line-height: 2em;
		}

		.forminator-description {
			line-height: 1.5em;

			a {

				&, &:hover, &:focus {
					outline: none;
					box-shadow: none;
				}
			}

			p {
				margin: 0;
				padding: 0;
				border: 0;
			}
		}
	}

	// RTL Support.
	@include form-class($divi, $material: false, $rtl: true) {

		.forminator-label,
		.forminator-description,
		.forminator-error-message {
			text-align: right;
		}
	}
}