@import '../helpers/wrappers';
@import '../helpers/breakpoints';
@import '../helpers/accessibility';
@import '../helpers/text-truncate';

@mixin upload($divi: false) {

	@include form-class($divi, $material: false, $rtl: false) {

		@include desktop-class($desktop-only: false) {

			.forminator-file-upload {
				display: flex;
				align-items: center;

				input[type="file"] {
					@extend %screen-readers;
				}

				> span {
					overflow: hidden;
					display: block;
					flex: 0 1 auto;
					@extend %text-truncate;

					&:not(:last-child) {
						margin-right: 10px;
					}
				}
			}

			.forminator-button-delete {
				cursor: pointer;
				display: flex;
				flex: 0 0 auto;
				align-items: center;
				justify-content: center;
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 14px;

				[class*=forminator-icon-] {
					display: block;

					&:before {
						display: block;
						color: inherit;
					}
				}
			}
		}

		@include desktop-class($desktop-only: true) {

			.forminator-col-3,
			.forminator-col-4 {

				.forminator-file-upload {

					.forminator-button-upload {

						@include media(min-width, sm) {
							flex: 0 0 100%;
						}
					}

					> span {

						&:not(:last-child) {

							@include media(min-width, sm) {
								margin-right: 0;
							}
						}

						@include media(min-width, sm) {
							flex: 1;
							margin-top: 10px;
						}
					}

					.forminator-button-delete {

						@include media(min-width, sm) {
							margin-top: 10px;
						}
					}

					@include media(min-width, sm) {
						flex-wrap: wrap;
					}
				}
			}
		}
	}
}