@include body-class() {

	input {
		width: auto;
		min-width: 120px;
		height: 30px;
		margin: 10px 0;
		padding: 5px 10px;
		border: 1px solid $input-border-color;
		border-radius: $input-border-radius;
		background-color: $input-background;
		color: $input-color;
		font: 500 14px/20px $font;
		transition: 0.2s ease;

		&:hover,
		&:focus {
			outline: none;
			box-shadow: $input-shadow;
		}

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}