@include body-class() {

	.options {

		.options-menu {
			display: flex;
			align-items: center;
			margin: 0 -1px;

			.option {
				cursor: pointer;
				display: block;
				flex: 0 0 auto;
				margin: 0;
				padding: 9px 20px;
				background-color: $option--background;
				color: $option--color;
				font: 500 13px/22px $font;
				transition: 0.2s ease;

				input {
					@extend %screen-reader-text;
				}

				&,
				&:hover,
				&:active {
					outline: none;
					box-shadow: none;
				}

				&:hover,
				&.active {
					background-color: $option--current-background;
					color: $option--current-color;
				}

				&.active {
					pointer-events: none;
				}
	
				&:first-child {
					border-top-left-radius: $border-radius;
					border-bottom-left-radius: $border-radius;
				}

				&:not(:first-child) {
					margin-left: 1px;
				}
	
				&:last-child {
					border-top-right-radius: $border-radius;
					border-bottom-right-radius: $border-radius;
				}
			}
		}

		.options-content {
			display: block;

			.option {
				display: none;
				border: 1px solid #EEE;
				border-radius: $border-radius;

				&.active {
					display: block;
				}

				@include media(max-width, md) {
					margin: #{$gutter-md / 2} 0 0;
					padding: $gutter-md;
				}

				@include media(min-width, md) {
					margin: #{$gutter / 2} 0 0;
					padding: $gutter;
				}
			}
		}

		&:not(:first-child) {

			@include media(max-width, md) {
				margin-top: $gutter-md;
			}

			@include media(min-width, md) {
				margin-top: $gutter;
			}
		}

		&:not(:last-child) {

			@include media(max-width, md) {
				margin-bottom: $gutter-md;
			}

			@include media(min-width, md) {
				margin-bottom: $gutter;
			}
		}
	}
}