@import './mixins';

@include form-class($divi: true, $material: false) {

    .forminator-label {
		margin: 0 0 5px;
		padding: 0;
		border: 0;
	}

	.forminator-error-message {
		margin: 5px 0 0;
		padding: 2px 10px;
		line-height: 2em;
	}

    .forminator-description {
		margin: 5px 0 0;
        line-height: 1.5em;
	}
}

@import './form-ui/input';