@import './mixins';

@include wrapper-class($divi: false) {

	* {
		box-sizing: border-box;
	}

	.forminator-field {

		&, label {
			display: block;
		}
	}

	.forminator-description {
		display: flex;
	}

	.forminator-error-message {
		display: none;
	}

	.forminator-has_error {
		
		.forminator-error-message {
			display: block;
		}
	}
}