@import './helpers/wrappers';
@import './helpers/breakpoints';

// LTR Support.
@include language-class($rtl: false) {

	.forminator-custom-form[data-grid] {

		@include desktop-class($desktop: false) {

			.forminator-row,
			.forminator-col {

				&:focus {
					outline: none;
					box-shadow: none;
				}
			}
		}

		@include desktop-class($desktop: true) {

			// ELEMENT: Row
			.forminator-row {

				@include media(min-width, sm) {
					display: flex;
					flex-flow: row wrap;
				}
			}

			// ELEMENT: Column
			.forminator-col {

				@include media(min-width, sm) {
					min-width: 0;
					flex: 1;
				}
			}

			// ELEMENT: Multiple Columns
			.forminator-col-3,
			.forminator-col-4 {

				.forminator-row {

					&[data-multiple="true"] {

						@include media(min-width, sm) {
							display: block;
						}
					}
				}
			}
		}
	}
}

// RTL Support.
@include language-class($rtl: true) {

	.forminator-custom-form[data-grid] {

		@include desktop-class($desktop: true) {

			// ELEMENT: Row.
			.forminator-row {

				@include media(min-width, sm) {
					flex-direction: row-reverse;
				}
			}
		}
	}
}