@import './mixins';

@include form-class(false, true) {

    * {
        box-sizing: border-box;
    }

    .forminator-field,
    .forminator-label,
    .forminator-input,
    .forminator-description {
        display: block;
    }

    .forminator-label {
        margin: 0 0 5px;
        padding: 0;
        border: 0;
    }

    .forminator-description {
        margin: 5px 0 0;
    }
}

@import './form-material/input';