@import './mixins';

@include form-class($divi: true, $material: true) {

    * {
        box-sizing: border-box;
    }

    .forminator-field,
    .forminator-label,
    .forminator-input,
    .forminator-description {
        display: block;
    }

    .forminator-label {
        margin: 0 0 5px;
        padding: 0;
        border: 0;
    }

    .forminator-description,
	.forminator-error-message {
        margin: 5px 0 0;
		line-height: 1.5em;
    }
}

@import './form-material/input';