@import './mixins';

@include form-class(false, false) {

    .forminator-label {
		margin: 0 0 5px;
		padding: 0;
		border: 0;
	}

	.forminator-input {
		width: 100%;
        min-width: unset;
		max-width: 100%;
        height: auto;
        min-height: unset;
        max-height: unset;
		display: block;
		margin: 0;
		border-style: solid;
		line-height: 1.3em;
        transition: 0.2s ease;

        &:hover,
        &:focus {
            outline: none;
        }
	}

	.forminator-error-message {
		margin: 5px 0 0;
		padding: 2px 10px;
		line-height: 2em;
	}

    .forminator-description {
		margin: 5px 0 0;
        line-height: 1.5em;
	}
}