<div class="sui-footer">Made with <i class="sui-icon-heart"></i> by WPMU DEV</div>

<div class="sui-footer" style="margin-top: 5px;">This project was handcrafted with love by WPMU DEV design and front-end team.</div>

<ul class="sui-footer-nav" role="list">
	<li><a href="https://premium.wpmudev.org/hub/" target="_blank" rel="noopener noreferrer" role="link">The Hub</a></li>
	<li><a href="https://premium.wpmudev.org/projects/category/plugins/" target="_blank" rel="noopener noreferrer" role="link">Plugins</a></li>
	<li><a href="https://premium.wpmudev.org/roadmap/" target="_blank" rel="noopener noreferrer" role="link">Roadmap</a></li>
	<li><a href="https://premium.wpmudev.org/hub/support/" target="_blank" rel="noopener noreferrer" role="link">Support</a></li>
	<li><a href="https://premium.wpmudev.org/docs/" target="_blank" rel="noopener noreferrer" role="link">Docs</a></li>
	<li><a href="https://premium.wpmudev.org/hub/community/" target="_blank" rel="noopener noreferrer" role="link">Community</a></li>
	<li><a href="https://premium.wpmudev.org/academy/" target="_blank" rel="noopener noreferrer" role="link">Academy</a></li>
	<li><a href="https://premium.wpmudev.org/terms-of-service/" target="_blank" rel="noopener noreferrer" role="link">Terms of Service</a></li>
	<li><a href="https://incsub.com/privacy-policy/" target="_blank" rel="noopener noreferrer" role="link">Privacy Policy</a></li>
</ul>

<ul class="sui-footer-social" role="list">
	<li><a href="https://www.facebook.com/wpmudev" target="_blank" rel="noopener noreferrer" role="link">
		<i class="sui-icon-social-facebook" aria-hidden="true"></i>
		<span class="sui-screen-reader-text">Facebook</span>
	</a></li>
	<li><a href="https://twitter.com/wpmudev" target="_blank" rel="noopener noreferrer" role="link">
		<i class="sui-icon-social-twitter" aria-hidden="true"></i>
		<span class="sui-screen-reader-text">Twitter</span>
	</a></li>
	<li><a href="https://www.instagram.com/wpmu_dev/" target="_blank" rel="noopener noreferrer" role="link">
		<i class="sui-icon-instagram" aria-hidden="true"></i>
		<span class="sui-screen-reader-text">Instagram</span></a>
	</li>
</ul>