@include body-class(custom-form, all, false) {
	width: 100%;
	margin: $gutter 0;
	box-sizing: border-box;
	@extend %text-reset;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@include body-class(custom-form, all, true) {

	&.forminator-fields-disabled {

		> *:not(.forminator-response-message) {
			@include opacity(0.5);
			pointer-events: none;

			* {
				pointer-events: none;
			}
		}
	}

	&:first-child {

		@include media(min-width, sm) {
			margin-top: 0;
		}
	}

	&:last-child {

		@include media(min-width, sm) {
			margin-bottom: 0;
		}
	}

	@include media(min-width, sm) {
		margin: $gutter 0;
	}
}