@include body-class(custom-form, all, false) {

	.forminator-field {
		margin: 0;
		padding: 0;
		border: 0;

		&:focus {
			box-shadow: none;
		}
	}

	&[data-color-option="default"] {
		.forminator-field {
			&:focus {
				outline: none;
			}
		}
	}
}