@include body-class(custom-form, all, false) {

	// SPACING: Default
	&:not(.forminator-enclosed):not(.forminator-custom) {

		// ELEMENT: Row
		.forminator-row {

			&:not(:last-child) {
				margin-bottom: $gutter-sm;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}

		// ELEMENT: Column
		.forminator-col {

			&:not(:last-child) {
				margin-bottom: $gutter-sm;
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}

	// SPACING: Enclosed
	&.forminator-enclosed {

		// ELEMENT: Row
		.forminator-row {

			&:not(:last-child) {
				margin-bottom: $gutter-enclosed-sm;
			}
		}

		// ELEMENT: Column
		.forminator-col {

			&:not(:last-child) {
				margin-bottom: $gutter-enclosed-sm;
			}
		}
	}
}

@include body-class(custom-form, all, true) {

	// ELEMENT: Row
	.forminator-row {

		@include media(min-width, sm) {
			display: flex;
		}
	}

	// ELEMENT: Column
	.forminator-col {

		&:not(:last-child) {

			@include media(min-width, sm) {
				margin-bottom: 0;
			}
		}

		@include media(min-width, sm) {
			flex: 1;
		}
	}

	// SPACING: Default
	&:not(.forminator-enclosed):not(.forminator-custom) {

		// ELEMENT: Row
		.forminator-row {

			&:not(:last-child) {

				@include media(min-width, sm) {
					margin-bottom: $gutter;
				}
			}

			@include media(min-width, sm) {
				margin-right: -#{$gutter / 2};
				margin-left: -#{$gutter / 2};
			}
		}

		// ELEMENT: Column
		.forminator-col {

			&:not(:last-child) {

				@include media(min-width, sm) {
					margin-bottom: 0;
				}
			}

			@include media(min-width, sm) {
				padding: 0 #{$gutter / 2};
			}
		}
	}

	// SPACING: Enclosed
	&.forminator-enclosed {

		// ELEMENT: Row
		.forminator-row {

			&:not(:last-child) {

				@include media(min-width, sm) {
					margin-bottom: $gutter-enclosed;
				}
			}

			@include media(min-width, sm) {
				margin-right: -#{$gutter-enclosed / 2};
				margin-left: -#{$gutter-enclosed / 2};
			}
		}

		// ELEMENT: Column
		.forminator-col {

			@include media(min-width, sm) {
				padding: 0 #{$gutter-enclosed / 2};
			}
		}
	}

	// SPACING: Custom
	&.forminator-custom {

		.forminator-row {

			@include media(min-width, sm) {
				flex-wrap: wrap;
			}
		}
	}
}