@include body-class() {

	.block {

		.block-side {

			@include media(max-width, md) {
				margin-bottom: $gutter-md;
			}

			@include media(min-width, md) {
				flex: 0 0 200px;
				margin-right: $gutter;
			}
		}

		.block-content {
			flex: 1;

			@include media(max-width, md) {}

			@include media(min-width, md) {
				flex: 1;
			}
		}

		&:not(:last-child) {
			border-bottom: 1px solid #E6E6E6;

			@include media(max-width, md) {
				margin-bottom: $gutter-md;
				padding-bottom: $gutter-md;
			}

			@include media(min-width, md) {
				margin-bottom: $gutter;
				padding-bottom: $gutter;
			}
		}

		@include media(max-width, md) {}

		@include media(min-width, md) {
			display: flex;
		}
	}
}