@include body-class() {

	header {

		+ section {

			@include media(max-width, md) {
				padding-top: 0;
			}

			@include media(min-width, md) {
				padding-top: 0;
			}
		}

		@include media(max-width, md) {
			padding: $gutter-md;
		}

		@include media(min-width, md) {
			padding: $gutter;
		}
	}
}