html {

	* {
		margin: 0;
		padding: 0;
		border: 0;
		box-sizing: border-box;
		letter-spacing: -0.25px;
	}
}

body {
	background-color: $site-background;
	line-height: 1.2em;
	font-family: $font;

	strong {
		font-weight: bold;
	}
}