@include body-class() {

	.tabs {

		.tabs-menu {

			.tab-menu {
				cursor: pointer;
				margin: 0;
				padding: 5px 14px;
				border-radius: 20px;
				background-color: $tabs-menu--background;
				font-size: 15px;
				line-height: 20px;
				font-weight: 500;
				color: $tabs-menu--color;

				&.active {
					background-color: $tabs-menu--current-background;
					color: $tabs-menu--current-color;
				}

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				&:not(:first-child) {
					margin-top: 10px;
				}
			}

			@include media(min-width, md) {
				flex: 0 0 170px;
				margin-right: 30px;
			}
		}

		.tabs-content {

			.tab-content {
				display: none;
				padding: $gutter;
				border-radius: 4px;
				background-color: white;
				box-shadow: 0 2px 0 0 #E6E6E6;

				&.active {
					display: block;
				}
			}

			@include media(min-width, md) {
				flex: 1;
			}
		}

		@include media(max-width, md) {
			display: block;
		}

		@include media(min-width, md) {
			display: flex;
		}
	}
}