@include body-class() {

	.sample-block {

		&:not(:last-child) {
			margin: 0 0 60px;
			padding: 0 0 60px;
			border-bottom: 1px solid #E7E7E7;
		}
	}

	.sample-column {
		padding: 10px;
		background-color: #EEE;
		color: #333;
		font-size: 15px;
		line-height: 20px;
		text-align: center;
	}
}