@mixin component-link($form-theme: no-theme) {

	@include form-class(poll, $form-theme, false) {

		.forminator-link {
			line-height: 1.4em;
			transition: $transition--ease;

			&,
			&:hover,
			&:focus,
			&:active {
				box-shadow: none;
				text-decoration: none;
			}

			&:disabled,
			&.forminator-disabled {
				@include opacity(0.5);
				user-select: none;
				pointer-events: none;
			}
		}

		&[data-color-option="default"] {
			.forminator-link {
				
				&,
				&:hover,
				&:focus,
				&:active {
					outline: none;
				}
			}
		}
	}
}