@mixin component-typography($form-theme: no-theme) {

	@include form-class(poll, $form-theme, false) {

		.forminator-question,
		.forminator-description {
			display: block;
			margin: 0 0 5px;
			padding: 0;
			border: 0;
			letter-spacing: 0;

			&:before,
			&:after {
				content: none;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		.forminator-question {
			line-height: 1.6em;
		}

		.forminator-description {
			line-height: 1.6em;
		}
	}
}