@import './mixins';

@include form-class(false, false) {
    * {
        box-sizing: border-box;
    }

    .forminator-label {
        margin: 0 0 5px;
        padding: 0;
        border: 0;
    }

    .forminator-input {
        width: 100%;
        max-width: 100%;
        display: block;
        margin: 0;
        border-style: solid;
    }

    .forminator-description {
        margin: 5px 0 0;
    }

    .forminator-error-message {
        margin: 5px 0 0;
        padding: 2px 10px;
        line-height: 2em;
    }
}