@include body-class(custom-form) {

	.forminator-file-upload {
		display: flex;
		align-items: center;

		input[type="file"] {
			@extend %forminator-screen-reader-only;
		}

		> span {
			overflow: hidden;
			display: block;
			flex: 0 1 auto;
			@extend %forminator-truncate-text;

			&:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	.forminator-button-delete {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: $button--icon-size;

		[class*=forminator-icon-] {
			display: block;

			&:before {
				display: block;
				color: inherit;
			}
		}
	}
}

@include body-class(custom-form, default) {

	.forminator-button-delete {
		width: 30px;
		height: 30px;
		border-radius: $default--border-radius;
	}
}

@include body-class(custom-form, flat) {

	.forminator-button-delete {
		width: 20px;
		height: 20px;
		border-radius: 40px;
	}
}

@include body-class(custom-form, bold) {

	.forminator-button-delete {
		width: 30px;
		height: 30px;
		border-radius: 60px;
	}
}

@include body-class(custom-form, material) {

	.forminator-button-delete {
		width: 30px;
		height: 30px;
		border-radius: $default--border-radius;
	}
}