%fui-icons {
	font-family: $font--icons !important;
	speak: none;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	text-rendering: auto;
	display: inline-block;
	color: $icon-color;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@include body-class(true) {

	.forminator-loading {

		&:before {
			animation: spin 1.3s linear infinite;
		}
	}

	// Set the required styles on all icons
	[class*="forminator-icon-"] {
		display: inline-block;
		@include icon(both);
	}

	// Setup a class name for each icon
	@each $name, $char in $icons {

		.forminator-icon-#{$name}:before {
			content: $char;
		}
	}
}